[2021-02-10 14:17] jonaslagoni opened #42 "Missing simplifier for additional properties"
#### Reason/Context
We should simplify `additionalProperties`

[2021-02-10 16:55] jonaslagoni opened #43 "Iterate pattern properties"
#### Reason/Context
<s>Pattern properties should be merged with additional properties</s>
Pattern properties should be included the same way that additionalProperties are. Meaning it should be moved from Schema to CommonSchema.

[2021-02-11 10:09] magicmatatjahu opened #45 "Document how to implement generator for language"
After first release, we will have only 3 languages which we will support - JS, TS and Java with custom presets, e.g. with Jackson support (Java). We should document how community can contribute to our `model-sdk` with implementation of new languages and presets. Documents should contain:

- [X] how to extend `AbstractGenerator`.
- [ ] how to extend `AbstractRenderer`.
- [ ] how to write custom ren

[2021-02-11 10:19] magicmatatjahu opened #46 "Document how to use the sdk"
We should document how user/dev should use our `model-sdk` in templates - here we should have examples with React and Nunjucks templating - in library, or in normal app.

Documents should contain also complex cases like:
- how to use pass options to generators.
- how to use presets in given language - with overriding case, concatenation etc.

Also we should update main Readme.md to provide informa

[2021-02-11 10:20] magicmatatjahu opened #47 "Implement GoLang generator and renderers"
Implement GoLang generator and renderers like in TS or Java.

Generator should have possibility to define presets for `struct`, `enum` and normal `type` type.

Additional: create presets for serialisation/converters from json.

[2021-02-11 10:23] magicmatatjahu opened #48 "Implement C# generator and renderers."
Implement C# generator and renderers like in TS or Java.

Generator should have possibility to define presets for `class`, `enum` type.

Additional: create presets for serialisation/converters from json.

[2021-02-11 10:31] magicmatatjahu opened #49 "Implement Python generator and renderers"
Implement Python generator and renderers like in TS or Java.

Generator should have possibility to define presets for `class`, `enum` type.

Additional: create presets for serialisation/converters from json.

[2021-02-11 11:36] magicmatatjahu opened #50 "Improve typings in project"
We should improve typings in whole project to improve DX:

- [x] improve generic types in `AbstractGenerator`, `AbstractRenderer` - https://github.com/asyncapi/generator-model-sdk/pull/60
- [ ] improve generic types in presets: `CommonPresets...` and in `Preset` abstract interface to include typings for options for given preset.

[2021-02-11 15:01] jonaslagoni opened #53 "Remove Eslint warnings"
#### Reason/Context
Currently we ignore warnings but it needs to be addressed. Especially the complexity check. After that we need to force no warnings.

[2021-02-15 08:58] #42 closed

[2021-02-15 13:50] magicmatatjahu commented on #53
Partially done in https://github.com/asyncapi/generator-model-sdk/pull/60

[2021-02-17 08:01] magicmatatjahu opened #64 "Rewrite whole tests related to simplifiers and processors"
As in title. At the moment, if someone change something in `simplifiers` and `processors` must update (sometimes) 20-30 test cases. It wouldn't be a problem, but the tests are written as integration tests that each test that tests the results of a function with content stored in separate files. Some files are big enough that it is tiresome. Each test should be an individual test that tests only on

[2021-02-18 09:44] magicmatatjahu opened #67 "Fix simplification of tuple"
#### Describe the bug

When I fixing rendering the tuple for TS, I found the bug.

At the moment given schema:

[code]

produces given CommonModel:

[code]

and this is not true, because it's a tuple, not an array of unions. We should fix it.

[2021-02-18 09:50] magicmatatjahu commented on #67
Also if I write something like:

[code]

then this is true union, but I give this same CommonModel, like in tuple case, so user/dev cannot determine which type should be rendered for model ans must for that check the originalSchema, which is not acceptable.

[2021-02-18 09:59] jonaslagoni commented on #67
This might get fixed by an upcoming pr, there are a bug in the type simplifier.

[2021-02-18 10:13] jonaslagoni commented on #64
I agree we need to make a few changes.

I think we should keep all the test cases we have for the processor but move them to a blackbox testing, so we only test the output of the models being generated since this will give us the indication of whether something is wrong or not. These tests have saved me a few time so I dont think there is any way around it. Problem is, if you change something in t

[2021-02-18 11:22] jonaslagoni opened #68 "should render additionalProperties"
#### Reason/Context
Currently the `CommonModel` does include additionalProperties, however they are not rendered as properties in the generator

Questions:
- How should we handle `additionalProperties` if we already have a property called `additionalProperties`?

[2021-02-18 11:23] magicmatatjahu commented on #64
But then you have this same problem as I described. You change something slightly inside implementation (like new simplifier) and then probably you must update whole tests. In my approach, you test everything like (maybe you have this in mind):

[code]

At the moment we have tests looking like manually created snapshot, which is very bad. if it is already bad for us, think what people will feel by

[2021-02-18 11:41] jonaslagoni commented on #64
To me this is not a solution. Imagine you change the structure of the output? Remove a field? then you are back to having to update all the tests. But I agree that that we should move on from testing the simplifier output so we dont test JSON output but actual files in the generator. And then use a snapshot system in Jest if that provide a better way to see changes.

Also the changing of outcomes

[2021-02-18 11:59] magicmatatjahu commented on #64
This same you must do when you have tests based on pure json raw data, like currently, so this is a problem in my idea and your and we cannot avoid it.

And then what? :) People probably will paste output to `expected` folder and tests will pass and also then we have a requirerement in contribution guide to have additional plugins for jest etc. Also tests based on snapshots were never good option

[2021-02-18 12:08] jonaslagoni commented on #64
hmm, yea I can see this being a thing, I just fear that one big integration test wont catch anything or at least catch very few problems.

I dont see how we can rewrite them without creating more clutter, but if you have a clear vision on how to do it feel free to do so 😄

[2021-02-18 15:11] jonaslagoni commented on #46
@magicmatatjahu this can be closed right? 🤔

[2021-02-18 15:11] jonaslagoni opened #70 "Document how the generator works"
#### Reason/Context
Fresh into the generator is not easy without some docs explaining what and how it does things to get started.

[2021-02-18 15:12] magicmatatjahu commented on #46
@jonaslagoni No, we haven't this part:

[2021-02-18 15:13] jonaslagoni commented on #70
Related to #45

[2021-02-18 15:14] jonaslagoni commented on #46
Ahh! gotcha.

[2021-02-18 15:15] magicmatatjahu commented on #70
Close, it will be described in #45

[2021-02-18 15:15] #70 closed

[2021-02-19 14:04] jonaslagoni opened #79 "Schema dependencies should be iterated"
#### Reason/Context
Currently we do not iterate schema dependencies. We should iterate them and combine properties/items/types etc together.

[code]

should merge it together to give the model:

[code]
Reason why `billing_address` is not added to the list of required properties, is that it is a runtime requirement that we cannot do anything about when rendering the model.

see more here: http://js

[2021-02-19 14:19] jonaslagoni commented on #43
There are different ways to achieve this so given the following JSON Schema:
[code]
should it generate a model (gonna use Java as an example here) such as:
[code]
or
[code]

[2021-02-19 14:36] jonaslagoni commented on #67
The simplifier does semi-require the root schema to be an object... I'll try spend a few hours to figure out how we can handle this better.

[2021-02-19 15:17] jonaslagoni commented on #67
Current implementation (with all the PR's merged) the CommonModel would look like
[code]
Which is as expected right?

[2021-02-22 07:42] magicmatatjahu commented on #67
@jonaslagoni No, this is not a true, because this schema indicates that you have an array of union, not a tuple. We should have schema like this:

[code]

[2021-02-22 09:35] magicmatatjahu commented on #79
@jonaslagoni Please have in mind that final schema is only valid, when you have defined `credit_card` - like in example in linked web, so I think that there we have an union type with given schema:

[code]

[2021-02-22 10:06] magicmatatjahu commented on #68
@jonaslagoni You pinged me about problems with `addProperties` etc in slack, so I give you some tips here, also to check by another people from community:

For `additionalProperties`:
- in TS and JS we should render for additionalProperties additional accessor for set and get, but not native, but something like `getAdditionalProperty(key: string): {type}` and `setAdditionalProperty(key: string, va

[2021-02-22 10:32] asyncapi-bot opened #83 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-22 10:48] magicmatatjahu commented on #67
We conclude that this a feature request, but also a bug :)

[2021-02-22 11:26] magicmatatjahu opened #84 "Infer schemas from dependencies data"
Given schema with `dependencies` data:

[code]

should be transformed and simplified:

[code]

Related to https://github.com/asyncapi/generator-model-sdk/issues/79

[2021-02-22 11:39] jonaslagoni commented on #83
🤷 is fixed by it self I guess...

https://github.com/asyncapi/generator-model-sdk/actions/runs/588814904

[2021-02-22 11:39] #83 closed

[2021-02-22 15:04] jonaslagoni opened #86 "originalSchema for CommonModel should be called originalInput"
#### Reason/Context
The reason why we should make this change is that the input does not necessarily have be JSON Schema but could be something completely unrelated.

[2021-02-23 12:29] smoya opened #97 "Add support for JSON Schema files as input"
#### Reason/Context
Considering that we are potentially gonna have parsers written in other languages (not just JS. E.g. https://github.com/asyncapi/parser-go), It makes sense to support an input type that can be used to load schemas generated by any of those.

This will allow using any convenient parser, no matters the language they are implemented on.

This feature request was motivated by this

[2021-02-23 12:46] jonaslagoni commented on #97
I think we can expand this to support AsyncAPI file inputs as well.

Just to clarify what you mean by supporting other parser input. Do you mean you want to use the go parser, then save that output to a file, for then to generate models based on that parsed filed? 🤔

[2021-02-23 13:52] jonaslagoni opened #98 "Typescript renders encapsulation for non-required properties wrong"
#### Describe the bug
non-required properties renderers a wrong signature for encapsulation.

#### How to Reproduce
Given the following JSON schema
[code]
It is rendered to
[code]
It is however unable to compile based on the following error messages:

[code]

[2021-02-23 14:24] smoya commented on #97
Would that become a new independent Issue?

Yes. Does it make sense? A bit new to the game so feel free to say it doesn't.

[2021-02-23 14:30] jonaslagoni opened #99 "AsyncAPI schemas should use their id not ours"
#### Describe the bug
Currently, in templates, all you have access to is the `uid()` function from the AsyncAPI parser for the schema which returns a different name than what the model is generated with. This should not be the case.

Why? Because I cannot change what I have access to, we should not interpret another id if one is already given by another tool.

[2021-02-23 14:50] jonaslagoni commented on #97
I simply don't see a use-case 😄 In what use-case do you see people wanting to use the GO parser for then to save the output of that to a file for then to use this library? Wouldnt you just want to provide an AsyncAPI file directly to this library? IMO you don't need to know the underlying parser 🤔

[2021-02-23 14:53] magicmatatjahu commented on #98
I will fix it as soon as possible :)

[2021-02-23 15:07] jonaslagoni commented on #99
@magicmatatjahu I will start on this issue since it is a blocker for me to continue rewriting the template.

[2021-02-23 15:12] smoya commented on #97
Yeah, you made me think on it a bit deeply and indeed it makes more sense to just use the AsyncAPI file directly as it is the source of truth.
I'm gonna close this and create a new issue for that so we have a cleaner start.

[2021-02-23 15:12] #97 closed

[2021-02-24 09:28] jonaslagoni opened #101 "Rendered models should be compiled as a blackbox test"
#### Reason/Context
At the moment we do not directly test the correctness of the output. So when we receive PRs changing the rendering in any way we have no way of knowing whether the output can actually compile.

We already encountered this issue and having something in place to handle this logic would be awesome.

#### Description
I would suggest we implement a GitHub action per language we outp

[2021-02-24 10:34] #99 closed

[2021-02-24 13:12] #98 closed

[2021-02-24 16:38] smoya opened #106 "Interfaces are not being documented via JSdoc"
#### Describe the bug

Our current flow for generating docs is first transpile TypeScript to Javascript, then run `jsdoc2md` to generate the final Markdown file. See https://github.com/asyncapi/generator-model-sdk/blob/master/package.json#L62.

Documenting interfaces in jsdoc is totally possible thanks to the `@interface` tag. However, the tag is not supported by TS compiler. See https://www.types

[2021-02-24 16:39] jonaslagoni opened #107 "Renderer does not render extended classes which is simplified by default"
By default, we simplify JSON schema into multiple classes such that:
[code]
should render 3 classes, `root` which extends `rootAllOf1` and `rootAllOf2`, and then the later two classes are then separated. But since the renderer is not ready for this we need to switch to defaulting to merging the `allOf` schemas instead. So no schemas are left behind.

[2021-02-24 16:41] jonaslagoni opened #108 "Figure out how we can introduce rendering of inheritance"
#### Reason/Context
One of the strong features of the CommonModel is the possibility to use `extend` which contains a list of `$id`s of the CommonModels that the current model should extend. Therefore we need to figure out how we render this in the different languages

[2021-02-24 17:16] jonaslagoni commented on #53
Completely done in https://github.com/asyncapi/generator-model-sdk/pull/81

[2021-02-24 17:16] #53 closed

[2021-02-24 17:27] jonaslagoni commented on #43
Based on multiple discussion we should go with something like:
[code]
Now we still have a problem with duplicate properties in cases where `properties` would contain a property called `S_PatternProperties` which we need to figure out how to handle.

[2021-02-25 10:18] jonaslagoni opened #111 "The direction of the (default) presets"
While integrating this library into [ts-nats-template](https://github.com/asyncapi/ts-nats-template/pull/53) I got frustrated because my expected outcome was not aligned with the default preset. And this comes down to my basic understanding of it was wrong, the setup is great because it offers many different ways of rendering a model. However, I realized that we need a clear direction in which way

[2021-02-25 10:49] magicmatatjahu commented on #111
Hi!

As many as the community will want. I mean, we're currently rendering a very minimalist model (as you noticed yourself). This is due to the fact that we render models in libraries for the first time and we find bugs/problems. For me this is fine - not bugs 😅 but problems, yes, they helps us to check that if we are going the right way.

In general when implementing presets I meant creating a s

[2021-02-25 10:54] fmvilas commented on #111
I feel like I'm missing some context here. Don't completely follow you here.

[2021-02-25 11:08] #107 closed

[2021-02-25 11:34] jonaslagoni commented on #111
At the moment the renderer we have implemented (gonna use Java as an example) contains two default presets for `ClassRenderer` and `EnumRenderer`.

If we look at the `ClassRenderer` it calls different presets in its path based on what is being rendered. For a constructor, the `ClassRenderer` calls the preset named `ctor` when it wants to render it. The default preset for this is to not render any

[2021-02-25 11:43] derberg commented on #111
do we have to stick to only one set of presets? For example, for me, default is almost always minimalistic and I would go with answer : `minimalistic`. But just want to make sure we are open here and if over time we find out there is a place for other "official" Java presets that we also add them to a library or store them as a separate module

[2021-02-25 11:50] jonaslagoni commented on #111
@derberg we have to stick to a default preset if we want the library to work out of the box without any options sat. But yes presets can be partially rewritten or created from scratch. There is really no limit.

This is also a question, what should the structure of the preset folders look like (where should we store them), who maintains them if they will be inside the library, ..., in general we h

[2021-02-25 11:52] derberg commented on #111
sound to me like we should be minimalistic first then, and next step to start using them -> discover what is missing -> what has to be added -> if there is a point to have multiple different presets per language -> etc. So basically answers will come once we start using them

[2021-02-25 11:54] magicmatatjahu commented on #111
This is not a true :) It renders constructor, but return undefined, it means that if someone wants to render constructor, then can extend class by one implementation for `ctor` preset like:

[code]

it may be a bug that we are not rendering constructor.

I know that you mention at the end of your comment, that it could be also rendered in separate presets, but why we need this features in defaultP

[2021-02-25 12:14] jonaslagoni commented on #111
@magicmatatjahu I mean that is what I am saying, it is only that our default preset for the class does not do so. No one questions that anything is possible to do and it can be customized in multiple ways to support any scenario you have.

What I am suggesting is that we need to define what the `default preset` should render in the end.

I have noticed that we are talking past each other a bit, so

[2021-02-25 12:57] magicmatatjahu commented on #86
@jonaslagoni Maybe we should have `originalInput` next to `originalSchema`? I mean, if we will have processor for graphql data from SDL to JSON Schema, then finally we must process JSON Schema not SDL, so `originalSchema` should stay.

[2021-02-25 13:05] jonaslagoni commented on #86
Agreed in many cases if ever passed through the JSON Schema input processor it would stay `originalSchema`.

However, if you provide another processor which does something completely different XML for example, it does not have to convert the XML into JSON for the JSON Schema input processor but can create the CommonModel representation itself.

Then `originalSchema` would not make sense since it w

[2021-02-25 15:23] magicmatatjahu commented on #86
This is a one of POV, but here is also a question: why we want to processor xml in custom way, if we have possibility to change xml to json and then process it as JSON Schema? :)  `OriginalSchema`/`OriginalInput` should be also useful to read it from code, using pure GraphQL or XML you haven't this option.

[2021-02-27 12:17] jonaslagoni opened #122 "Improve naming of getImmediateDependencies function"
#### Reason/Context
We need to find a replacement name for this function since it is not clear what it does.

https://github.com/asyncapi/generator-model-sdk/blob/0a8f5e3093620a4ff064361c896fc6955ad136e0/src/models/CommonModel.ts#L186

#### Description
What it means is any direct/immediate/nearest dependencies of models. An example could `modelA` have the property `prop1` that refers to another mo

[2021-03-02 08:22] magicmatatjahu opened #124 "Pass generator to renderers"
At the moment we don't have `generator` (like TypeScript generator - https://github.com/asyncapi/generator-model-sdk/blob/master/src/generators/typescript/TypeScriptGenerator.ts) instance inside the renderers. This will facilitate many things related to rendering models.

Use cases: for example render `enum` type inside `class` type in Java. At the moment we must do workaround like here https://gi

[2021-03-02 09:02] magicmatatjahu opened #125 "Bidirectional preset flow"
At the moment we have only one way flow in presets. It means that render starts from `defaultPreset`, goes through every custom preset and return to output final string. Sometimes we need to adjust to final part of model something after rendering the rest of custom presets:

e.g. we have `CUSTOM_PRESET_1`, `CUSTOM_PRESET_2`, in `CUSTOM_PRESET_1` I wanna run first `CUSTOM_PRESET_2` and then add som

[2021-03-02 09:13] magicmatatjahu opened #126 "Naming convention for type and property"
We should have `naming convention` for models, it means naming style for model type (included refs) or property. I suggest to have in default option of generator `namingConvention` object with `type` and `property` fields. At the moment developer must change manually name of type or property, e.g. type is called `some_class` and in Java should be pascalCased - `SomeClass` - at the moment we must d

[2021-03-05 12:11] jonaslagoni opened #128 "JSON example preset"
#### Reason/Context
I have had a few use-cases now where I need to generate example JSON based on JSON Schema, and if we can generate the underlying model we should be able to generate an example JSON for that model as well.

#### Description
It does not have to be fancy just a quick and dirty example will suffice.

[2021-03-09 08:23] magicmatatjahu opened #130 "Simplify metadata fields in combined schemas"
We don't support simplification for metadata fields like `minItems`, `minimum`, `maxLength` etc. in combined schemas like `anyOf`, `oneOf`, `allOf`. This issue is a tracker for each missed field.

- Number/Integer:
  - [ ] minimum
  - [ ] exclusiveMinimum
  - [ ] maximum
  - [ ] exclusiveMaximum
  - [ ] multipleOf
- String:
  - [ ] minLength
  - [ ] maxLength
  - [ ] pattern
- Array:
  - [ ] minIt

[2021-03-10 13:06] #46 closed

[2021-03-12 17:18] magicmatatjahu opened #132 "Find a proper name for the library"
`generator-model-sdk` can be confusing for someone in AsyncAPI community and also for people outside the community. It doesn't need the generator to work, it's a standalone library like [QuickType](https://github.com/quicktype), so we should change name of the repo and project. Any ideas?

My proposition is `Modelina`. It is a polish word for `modelling clay`. There is possible to form something (

[2021-03-15 14:19] magicmatatjahu opened #133 "Enum isn't render properly in as TS class property"
If we have property as enum like:

[code]

then we have rendered in TS:

[code]

but should be:

[code]

[2021-03-17 16:58] aayushmau5 commented on #122
Looking at the comment
[code]
  What does "immediate depends" means? I'm trying to understand what it does so I can suggest a good name.

[2021-03-23 09:11] jonaslagoni commented on #122
hey, @aayushmau5 sorry for the late response must have slipped through the notifications. I have updated the issue with a better description of what the function does.

[2021-03-31 09:53] aayushmau5 commented on #122
Oops, forgot about this. Sorry. Looking at the explanation, the only alternative I can think of is `getDirectDependencies` but I like `getNearestDependencies` more.

[2021-03-31 10:09] smoya commented on #132
I vote for keeping a name that describes per se the goal of the library. In this case, `generator-model-sdk` is not that bad.
I understand the confusion, if there is any, is around the word `generator`, but what I see is more the position of such in the project name.

What about `models-generator` or even `modeller`?

[2021-03-31 13:55] derberg commented on #132
we must remember it is JS/TS library, in this word name of libraries do not have to be connected directly with library purpose: angular, gulp, grunt, vue, etc.

**modeller** looks strange when you write it, it is not even a word 😄
I like **modelina** as it sounds and looks gentle, female-ish rather than strong modeller.

[2021-04-01 13:38] smoya commented on #132
Those that you mentioned are not related to any project. They work independently. If in our case we want to do the same (not tied at all with AsyncAPI), then I could buy your arguments. Unfortunately, the description of the projects makes it very clear:
 `This library is for generating models based on AsyncAPI or JSON Schema documents.`.
I don't get why we need to look for a name that could make t

[2021-04-06 11:29] derberg commented on #132
that is the thing, library can but doesn't have to be used with AsyncAPI, can be used directly with JSON Schema, which makes it applicable everywhere else.

As Maciek stated in description, ` it's a standalone library like QuickType`

Anyway, `modelina` or `modeller` are generic, talk about the same but 2 different languages 😄 still nobody would google for both using their names, not a problem in

[2021-04-06 11:31] smoya commented on #132
From the README.md:

If the goal is to make it agnostic of AsyncAPI soon, we should write that down and modify the README.
If that's a short term goal, I'm ok with `modelina`.

[2021-04-06 12:03] derberg commented on #132
just to make sure, for me, it is already agnostic if I do not need AsyncAPI and can use JSON Schema directly.

I'm more interested in fact why we support AsyncAPI and probably could do OpenAPI too. Why not using parser (I anyway have to use it) to get all schemas and then iterate over with modelina? What is the advantage of such an approach @magicmatatjahu @jonaslagoni ?

[2021-04-06 12:19] jonaslagoni commented on #132
The library is built to support multiple inputs (any input actually, such as OpenAPI, but could also be typescript files and so on). We just dont support anything other then AsyncAPI and JSON Schema draft 7 at the moment, because there has not been added any processors to handle it https://github.com/asyncapi/generator-model-sdk/blob/da68fa0a8b8511e6598be39e03553d4df02d6309/src/processors/InputPro

[2021-04-07 09:23] magicmatatjahu commented on #132
`Modeller` also a good name, but `modelina` is for me better (because it's my idea 😄). Let community to choose.

[2021-04-12 19:39] jonaslagoni opened #143 "Support false validation rules"
#### Reason/Context
Currently, whenever types are simplified and come across a schema of type `false` it throws an error and the library won't generate anything which is far from ideal.

https://github.com/asyncapi/generator-model-sdk/blob/cc42b3ae7753044c173cbdd16cfa4f9fb7cb2c34/src/simplification/SimplifyTypes.ts#L16

#### Description
I suggest we just ignore that specific model entirely.

[2021-04-12 20:15] jonaslagoni opened #144 "Wrong check in regard to whether a CommonModel should be extended"
#### Describe the issue
As the comment states here:
https://github.com/asyncapi/generator-model-sdk/blob/cc42b3ae7753044c173cbdd16cfa4f9fb7cb2c34/src/simplification/Utils.ts#L7

We need to refactor a bit to better determine if a CommonModel is a simple model, generally whenever the model type != `object`, or an independent model which should be generated as such.

The reason why we cannot use the

[2021-04-22 16:56] jonaslagoni opened #148 "Add a validator infront of the input processor"
#### Describe the bug
We are expecting the input JSON Schema draft 7 to be a document that can validate correctly, but we do nothing when this is not the case.

Example: If a schema uses combination schemas that each contain the same property name, it will try to merge the two common models. However, if it is from an `allOf` combination schema, it should "fail" somehow if conflicts occur. Since th

[2021-04-26 11:16] jonaslagoni opened #152 "Add logging interface"
#### Reason/Context
We should provide a logging interface for users of the library to get notified on internal logs.

Use-case:
- In case two simplified models need to be merged some properties such as `$id` are overwritten, in these special cases I would like to inform the user that a clash between properties occurred and the output might not contain the expected output.
- As a user I would like

[2021-04-26 12:23] jonaslagoni opened #154 "Render pattern properties"
#### Reason/Context
It should be possible to render pattern properties.

Example: https://github.com/asyncapi/generator-model-sdk/issues/43#issuecomment-782104228

Blocked by https://github.com/asyncapi/generator-model-sdk/pull/153

[2021-04-26 12:31] jonaslagoni commented on #86
XML is just an example, could by any type of input, with its own `InputProcessor` that does not use the JSON Schema simplifier. They could handle their own processing of transforming the input to CommonModels.

[2021-04-27 09:44] #143 closed

[2021-04-27 10:02] #133 closed

[2021-04-27 14:12] czlowiek488 opened #158 "mergeCommonModels function doesn`t merge required field"
#### Describe the bug
mergeCommonModels doesn`t merge required field

#### How to Reproduce
use allOf with objects with required properties

#### Expected behavior
mergeCommonModels does merge required fields

[2021-04-27 14:14] czlowiek488 commented on #158
add
[code]
to line 154 in CommonModel

[2021-04-27 14:31] jonaslagoni commented on #158
Good catch @czlowiek488! Do you want to add a PR fixing this? 🙂

[2021-04-27 15:49] czlowiek488 commented on #158
Sorry, I don`t have time now and in nearest future. I must finish my generator ASAP.

[2021-04-27 18:13] jonaslagoni commented on #158
@czlowiek488 I provided a fix for this bug, feel free to review it if you have the time of course!

[2021-04-27 18:36] jonaslagoni opened #160 "library does not work with node version < 11"
#### Describe the bug
We are using `flatMap` function which is not added before [node version 11](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flatMap#browser_compatibility).

https://github.com/asyncapi/generator-model-sdk/blob/f52a7701d7ca4b89aae1a16940b647bfb69b6bd6/src/helpers/FormatHelpers.ts#L59

#### What should change
We need to decide if we want t

[2021-04-28 09:22] #158 closed

[2021-04-28 10:10] jonaslagoni commented on #158
@all-contributors please add @czlowiek488 for bug

[2021-04-28 10:16] jonaslagoni commented on #106
@all-contributors please add @smoya for bug

[2021-04-28 10:34] jonaslagoni commented on #50
@magicmatatjahu I am assuming this is still relevant?

[2021-04-28 14:39] czlowiek488 opened #167 "Library entirely ignore required field in `components/schemas` while merging required fields"
#### Describe the bug
Library entirely ignore required field in `components/schemas` while merging required fields.
Probably schemas are not instanced to CommonModel 😢 😞

#### How to Reproduce
Run parser with those components and check if project interface has `id?: string`.
[code]
- Screenshots
- Link to GitHub repository with project that has issues
- Files that can help reproduce the issue, lik

[2021-04-28 14:46] czlowiek488 commented on #167
I just figured out that this issue shows only when you use allOf and you define `required` in both reference and the second object.

[2021-04-28 14:48] czlowiek488 commented on #167
So second object `required` overwrite reference `required` instead of merging them both together.

[2021-04-28 14:51] jonaslagoni commented on #167
Thanks for the issue @czlowiek488, let me check 👀

[2021-04-28 14:58] jonaslagoni commented on #167
With this AsyncAPI document:
[code]

Which returns 3 models
SomeEventName - Here `<anonymous-schema-3>` is a bug, gonna add another issue for this, the current workaround is to specify `$id` for last schema in `allOf`.
[code]
Project
[code]
<anonymous-schema-3>
[code]

Is this not the expected behavior @czlowiek488? besides `<anonymous-schema-3>` of course.

[2021-04-28 15:04] jonaslagoni opened #168 "Ids from AsyncAPI parser does not get correct model name"
#### Describe the bug
see https://github.com/asyncapi/generator-model-sdk/issues/167#issuecomment-828526108

[2021-04-28 15:25] czlowiek488 commented on #167
Oh sorry. I found an issue but I written wrong case to reproduce.
Try this.
[code]

[2021-04-28 15:31] jonaslagoni commented on #167
@czlowiek488 that is not a valid AsyncAPI document, messages cannot define `required`, are you able to provide the full example? I don't care how long it is, potentially you could use https://gist.github.com/

Cause the examples I create all works as expected

[2021-04-28 15:38] jonaslagoni commented on #167
Alright I think I recreated it 🤔

[code]

[2021-04-28 15:40] czlowiek488 commented on #167
This is what I am dealing with https://github.com/xtrf/XTRFCloudInternalEventBus/blob/main/spec/TMSBusinessEvents.yaml

[2021-04-28 15:50] jonaslagoni commented on #167
Have you added `$id` to the `project` schema?

[2021-04-28 16:01] jonaslagoni commented on #167
Here is how I see the problem (and I am assuming that you have added the `$id` property to the `project` schema).

When a schema is referenced multiple places and the referenced schema has `$id` sat, such as:
[code]
The `Project` schema is rendered by accumulating properties i.e. it will inherit `description` and `required` from the `someEventName` payload. It will then merge the schema payload fr

[2021-04-28 17:16] czlowiek488 commented on #167
Yes

[2021-04-29 07:24] jonaslagoni commented on #167
Yea... I was thinking about whether we could rename the schema using the $id in some context. If there is a clash when referenced from properties we could give it the model the name `<property name><schema $id>`... Have to think some more about this.

Agreed, #152 or a follow-up issue should add this.

[2021-04-29 08:12] czlowiek488 commented on #167
[code]
Ignore it for now, it will complicate code a lot. It should not be included in MVP.

[2021-04-29 08:14] czlowiek488 commented on #167
Not to mention that this whole codebase is soooo complex i would rather rewrite it from scratch than maintain....

[2021-04-29 08:45] jonaslagoni commented on #167
Are you referring to this library? 🤔

[2021-04-29 09:10] czlowiek488 commented on #167
Yes I do refer to generator-model-sdk, those classes, callbacks, circular function executions makes it hard to maintain.
Main problem is that you have to know how everything works to understand how small piece function works...

[2021-04-29 09:12] czlowiek488 commented on #167
Also simplifier is so hard to understand that you can`t even write right documentation for it.

[2021-04-29 09:44] jonaslagoni commented on #167
Yeaa... @czlowiek488 would you mind creating an issue for this, @magicmatatjahu and I have discussed it before, none of us just knew how to make it more maintainable unfortunately.

[2021-04-29 14:30] czlowiek488 commented on #167
I don`t have time until middle of may. For now I can show you few themes you can read about and what imho will help you to create better code structures.
- Composition pattern - long story short you describe "how" instead of "what", this is huge change in thinking how to develop stuff
- Currying - allow you to instance object without using classes ( no this === no problem )
- async/await - allow y

[2021-04-29 20:39] jonaslagoni commented on #167
@czlowiek488 no worries, just wanted you to create a general issue about maintainability, you dont have to make suggestions on how to improve it, just raise the issue.

Since this issue have been "solved"  or through other issues I am closing it. Feel free to reopen if that is not the case.

[2021-04-29 20:39] #167 closed

[2021-05-03 13:11] jonaslagoni opened #171 "Enable file input"
#### Reason/Context
If you have your input in a file you have to load your file before using the generator instead of just providing a file path and I feel like the library should be able to handle such inputs.

The files we should accept are `YAML` and `JSON` files.

#### Description
This will be a minor change and improve the overall interaction with the library.

[2021-05-03 13:20] jonaslagoni opened #172 "Create a CLI"
#### Reason/Context
Because this library should not be directly associated with the generator but a separate library we should introduce a CLI for the library.

#### Description
Be aware that this CLI might be part of a larger [CLI](https://github.com/asyncapi/cli/) and should be implemented with extensibility in mind.

#### Related issues
https://github.com/asyncapi/generator-model-sdk/issues/132

[2021-05-03 16:28] jonaslagoni commented on #101
Added an initial take on this but need some feedback if it makes sense, see https://github.com/asyncapi/generator-model-sdk/pull/173

[2021-05-04 09:22] #168 closed

[2021-05-04 14:35] #152 closed

[2021-05-05 08:50] jonaslagoni opened #176 "language specific keywords are rendered as property names"
#### Describe the bug
There are certain keywords that are reserved. This is different between languages, we need to make sure we dont render such properties as-is.

#### How to Reproduce
For example, in Java, you cannot have a property named `enum`.

#### Expected behavior
I expected the library to handle any property names.

[2021-05-05 09:32] jonaslagoni opened #177 "Ensure we are JSON Schema draft 7 compliant"
#### Reason/Context
We need to ensure that this library is 100% JSON Schema draft 7 compliant since this is the main input source of the library.

#### Description
We need to use their [test compatibility suite](https://www.npmjs.com/package/@json-schema-org/tests). I suggest we wrap any of their schemas in an object property to force the library to generate models.

Something similar to:
[code]

[2021-05-06 18:30] czlowiek488 opened #181 "Add enum for asyncapi message $id`s"
#### Reason/Context
I created generator which generate types and Joi validators.
I generate validator with code like below.
[code]
As you can see I must pass string what is a little bit dirty solution.
This string is $id of message from asyncapi yaml file but there is no way to access it from generated types.

#### Description
I would like to have access to enum with all messages $id`s as key and

[2021-05-09 12:12] czlowiek488 commented on #132
I dislike generator-model-sdk, it is something you can not use freely while speaking.
Modeller have a meaning behind it and may be missinterpreted.
Modelina is nice.

[2021-05-09 15:16] fmvilas commented on #132
* Typey — as in Taipei (Taiwan). Or even just Taipei, which kind of sounds like "type hey!" 😄
* Typist

I also like Modelina. Modeller, meh! Kinda but don't really buy it 😄

[2021-05-12 17:58] jonaslagoni opened #186 "getImmediateDependencies assumes items cannot be an array."
#### Describe the bug
Since `CommonModel` items can be an array the function should handle that and not assume items are only one type.

#### How to Reproduce
Location of function: https://github.com/asyncapi/generator-model-sdk/blob/9dec1e58ec5da21e8dbd80fc44075c53f156b830/src/models/CommonModel.ts#L232
Remember to change the tests as well.

Caught by @magicmatatjahu here: https://github.com/asyn

[2021-05-15 11:37] jonaslagoni opened #187 "Enable TS input"
#### Reason/Context
It would be awesome to take TS code and be able to output models in any other language.

#### Description
There already exist libraries we can leverage to minimize the effort to integrate this where we could use the already existing JSON Schema process or create a custom one.

Link shared by Kevin Swiber: https://github.com/YousefED/typescript-json-schema

[2021-05-15 14:18] czlowiek488 opened #188 "Generate enum and use it for values."
#### Context
I have a function `saveProject` which save a asyncApiMessage as a document to a database.
This document is message wrapped in Envelope with additional properties.
A message looks like this:
[code]
My document look like this:
[code]
#### Reason#1
My problem with this is that typescript treat generated "tms.event.project.created" as a string not as part of EventName.
To make this work I

[2021-05-15 14:45] jonaslagoni opened #189 "Add logging documentation"
#### Reason/Context
I forgot to add logging documentation when I implemented the logging interface in #170

#### Description
I would add a single document explaining the logging interface the library uses.

[2021-05-15 15:23] jonaslagoni opened #190 "Apply more strict eslint rules"
#### Reason/Context
We should apply more strict eslint rules to keep it consistant.

- [x] [New line ending](https://eslint.org/docs/rules/eol-last), sprung from https://github.com/asyncapi/generator-model-sdk/pull/184#discussion_r632280767
- [x] [Curly](https://eslint.org/docs/rules/curly), sprung from https://github.com/asyncapi/generator-model-sdk/pull/184#discussion_r632271883
- [ ] Iteration

[2021-05-15 15:50] czlowiek488 opened #191 "make arguments an object in CommonModel"
There is so many arguments here that I would consider passing them in a object. If you would do it this way, you dont have to care about order while developing. Also it may give you other benefits.

_Originally posted by @czlowiek488 in https://github.com/asyncapi/generator-model-sdk/pull/184#discussion_r632270789_

[2021-05-15 16:09] jonaslagoni opened #192 "Be consistant with the iteration of arrays"
#### Reason/Context
We should be consistent with the use of array iteration so we don't mix different syntaxes.

Sometimes we use `forEach` sometimes `for of`.

#### Description
We need to keep in mind `forEach` has a limitation in terms that it cannot handle asynchronous calls and because of this, I suggest we use `for of` consistently.

The following explains pretty well why we should use `for o

[2021-05-15 16:18] jonaslagoni opened #193 "Merging two CommonModels can overwrite unwanted properties"
#### Describe issue
With the current implementation of the merging of CommonModels we hardcode that the CommonModel being merged into another overwrites the following properties:
- $id
- $ref
- extend
- originalSchema

#### How to solve
I am not entirely sure how to solve this unless we allow those properties to contain multiple values, but that does not make sense from the generator's perspective

[2021-05-15 16:34] czlowiek488 opened #194 "generator should be able to generate generic types"
#### Context
I have specification written like below.
[code]
this is generating interface like this
[code]
#### Reason#1
I have few events on event bus which are not coming from specification, but they are using Envelope from specification. Specifcation tells what events are send by my client, but I sometimes send my own events to the same event bus.
For them I have to write my own Envelope and if

[2021-05-15 16:35] czlowiek488 commented on #193
@jonaslagoni this is even more complex after I intruduced [this issue](https://github.com/asyncapi/generator-model-sdk/issues/194).

[2021-05-15 16:43] czlowiek488 commented on #188
For now it is the most important feature for me. If you can please prioritize it.

[2021-05-17 08:41] jonaslagoni opened #195 "Add a post-processing step to the simplifier"
#### Reason/Context
Currently, our `simplfiy` function returns `0...n` CommonModels because it splits up models during the simplification process and it adds more confusion than good IMO.

The only downside is that it will cost us performance, but as maintainability is more important I suggest we do it.

#### Description
* Move `splitModels` and `ensureModelsAreSplit` functions as the post-process

[2021-05-17 09:33] jonaslagoni commented on #192
Closing to have everything in a single issue.

[2021-05-17 09:33] #192 closed

[2021-05-17 10:18] jonaslagoni opened #196 "Use proper string parsing"
#### Reason/Context
We have a security eslint rule for `Generic Object Injection Sink`, that forces us to cast a variable to string when used as a key. At the moment we in many places use string injections such as `${variable}` where we should use `String(variable)`.

Based on the following discussion: https://github.com/asyncapi/generator-model-sdk/pull/184#discussion_r632278908

#### Description

[2021-05-17 11:22] magicmatatjahu opened #198 "Start using Any type for true schemas"
Currently we are using `["boolean", "string"...]` type for `true` JSON Schema. We should move to more verbose `any` type for such a schema. I know that it's not a compatible with JSON Schema but we should go with easier code as well.

[2021-05-18 11:00] jonaslagoni opened #199 "Recursive properties in AsyncAPI schema exceed stack size"
#### Describe the bug
Given the following file (converted to JSON): https://github.com/asyncapi/generator/blob/master/test/docs/dummy.yml

Throws the following stacktrace:
[code]

#### How to Reproduce
It is the [reflectSchemaNames](https://github.com/asyncapi/generator-model-sdk/blob/f47276c22db4c9e987a2f8e77b9ecdcee74aff54/src/processors/AsyncAPIInputProcessor.ts#L44) that does not handle circul

[2021-05-18 12:34] jonaslagoni commented on #188
Thanks for the feature request @czlowiek488

This is a problem with the simplifier which does not split enum models into separate models as the generator expects. I will add this feature as soon as the new simplifier is merged.

[2021-05-19 12:54] #199 closed

[2021-05-19 13:32] #189 closed

[2021-05-20 10:01] jonaslagoni commented on #122
Okay let's go with `getNearestDependencies`, it is definitely better than what we have now.

[2021-05-21 17:37] arjungarg07 commented on #196
@jonaslagoni can I take up this issue?

[2021-05-22 07:30] jonaslagoni commented on #196
@arjungarg07 of course!

[2021-05-24 08:48] #196 closed

[2021-05-26 10:15] #122 closed

[2021-05-26 10:15] #186 closed

[2021-05-26 12:21] jonaslagoni commented on #144
I was wrong about this check could be changed, especially in terms of recursive schemas since properties would not have been set at the correct time. Gonna close the issue for now.

[2021-05-26 12:21] #144 closed

[2021-05-26 12:43] jonaslagoni commented on #191
So I tried to refactor [mergeProperties](https://github.com/asyncapi/generator-model-sdk/blob/281036ec54bb333cec2d69f31fda7fcc36e04839/src/models/CommonModel.ts#L296):

[code]

Of course, we can introduce a common parameter type between functions that share the same parameters, however, I am not sure I agree it improves the code 🤔

[2021-05-26 13:54] czlowiek488 commented on #191
I usually use one object as argument, for me it is just easier to work with if I do not have to care about order and also you are taking advantages of autosuggestion.
Sometimes I follow this pattern `(_Input_, _Settings_, _Settings2_, ...)` which make some sense if you are passing settings separetely to other independent functions.

[2021-05-26 17:29] jonaslagoni commented on #191
I do not feel like the work that is needed to refactor this is worth it with the output it gives. Therefore I am gonna remove it from the milestone for now.

I can see that would be useful at times 👍

[2021-05-31 09:10] #101 closed

[2021-06-04 08:40] #64 closed

[2021-06-04 13:02] #190 closed

[2021-06-07 10:41] jonaslagoni opened #224 "Support additionalItems in CommonModel"
#### Reason/Context
The CommonModel currently has no knowledge of `additionalItems` that the array/tuple must also support. This should change in the same way as `additionalProperties` are implemented.

[2021-06-07 11:01] magicmatatjahu commented on #224
Be also aware, that the next version of JSON Schema (2019-09) has `prefixItems` and `items` (and as I remember also `additionalItems `) works slighty different than previous draft-07.

[2021-06-07 11:16] jonaslagoni commented on #224
Lets not overcomplicate it as we have no use-case for `2019-09` as of yet. Once we do we can adapt for it 🙂

[2021-06-07 12:36] #67 closed

[2021-06-07 13:08] #132 closed

[2021-06-07 15:51] magicmatatjahu opened #228 "Publish package as CJS and ESM modules"
#### Reason/Context

We should publish to npm the package as CJS and ESM modules. Sometimes people use package in pure CJS environments, another time in pure ESM env. We should use to achieve that `main` and `module` fields in `package.json` similar as in `react-component` [here](https://github.com/asyncapi/asyncapi-react/blob/next/library/package.json#L32).

[2021-06-08 09:46] #228 closed

[2021-06-09 12:59] #195 closed

[2021-06-09 13:28] jonaslagoni opened #232 "JSON schema definition name should trumph other keyword infered names"
#### Reason/Context
Currently, we infer the model names before dereferencing the `$ref`s. This means that the names of the definition schemas are forgotten.

Given the following JSON schema:
[code]

the model would be given the name `ServerVariables_AdditionalProperty` instead of the expected `ServerVariable`

[2021-06-09 14:24] jonaslagoni commented on #181
Related to https://github.com/asyncapi/modelina/issues/188

[2021-06-09 14:25] jonaslagoni commented on #43
Gonna close this issue since we currently interpret patternProperties, all that is missing are https://github.com/asyncapi/modelina/issues/154

[2021-06-09 14:25] #43 closed

[2021-06-09 15:48] jonaslagoni opened #234 "Encountering duplicate models"
#### Describe the bug
If the same schema is referenced in one or more places we will encounter duplicate models when we shouldn't.

Given the following schema:
[code]
Two models will be present, `temp1` and `temp2`.

Related to https://github.com/asyncapi/modelina/issues/232 as solving that issue partly solves this.

[2021-06-09 16:00] jonaslagoni opened #235 "Solve code smells for JavaRenderer"
#### Reason/Context
Based on the following [sonarcloud issues](https://sonarcloud.io/project/issues?fileUuids=AXjKlPosVLGRvzF4eQL5&id=asyncapi_generator-model-sdk&resolved=false) we should remove all code smells from [JavaRenderer](https://github.com/asyncapi/modelina/blob/master/src/generators/java/JavaRenderer.ts).

Make sure to read the readme file [how to contribute](https://github.com/asyncap

[2021-06-09 16:11] jonaslagoni opened #236 "Ensure consistancy between switch statements"
#### Reason/Context
Currently, we have very small switch statements which are considered a [code smell by sonarcloud](https://sonarcloud.io/project/issues?id=asyncapi_generator-model-sdk&open=AXjKlPuxVLGRvzF4eQNt&resolved=false&rules=typescript%3AS1301). We should fix all of these issues so we get rid of them.

Make sure to read the readme file [how to contribute](https://github.com/asyncapi/model

[2021-06-09 16:29] jonaslagoni commented on #79
As we have another issue defining this problem, this union type will not be the focus in this.

[2021-06-10 09:58] jonaslagoni opened #238 "Generated model requires unknown imports"
#### Describe the bug
At the moment the generators have no way of telling the user which imports they require.

For example, for the Java generator, it generates enums with the expectation of `com.fasterxml.jackson` library to be present, however, the user has no way of knowing it is.

#### Expected behavior
I expected to be able to generate the model as is, without having to require me to dig int

[2021-06-10 10:05] magicmatatjahu commented on #238
We can add helper array in each generation of model where dev/user can pass needed dependencies in presets/generators for given model.

[2021-06-10 10:36] jonaslagoni commented on #238
Good idea 👍

I just see a dilemma down the line. You now have a list of dependencies that are required for the model. But in your project (where the user output writes the models to) we require you to manually add those (dynamic) dependencies to your project dependencies... Then the user would need to "know" about the dependencies anyway 😕 Of course it helps in importing the dependencies in the mo

[2021-06-10 10:59] magicmatatjahu commented on #238
We can log all unique dependencies when someone will generate models as post-generation hook and only inform that project needs given deps to property work.

[2021-06-10 11:07] jonaslagoni commented on #238
Could do yea 🤔

Well, an issue for a later day I guess.

[2021-06-11 09:05] jonaslagoni opened #241 "Models can be multiple types but assumes multiple"
#### Describe the bug
It is currently possible that a model is

#### How to Reproduce
Given the following JSON Schema

[code]
`prop1` gets interpreted to:
[code]
the post interpreter splits up the model for `prop1`, but we assume that the model is of only 1 type. Meaning only enum or class will be generated, when in theory it is both.

#### Expected behavior
I expected that two models would be pre

[2021-06-11 09:10] jonaslagoni commented on #241
I was too quick here. Enums are more strict than object properties, so as soon as enums have been defined properties should be ignored.

[2021-06-11 09:10] #241 closed

[2021-06-11 09:19] jonaslagoni opened #242 "Number enums are not rendered correctly"
#### Describe the bug
If an enum is defined as a number it is not rendered correctly.

#### How to Reproduce
Given the following JSON Schema:
[code]

The enum is generated as:
[code]
which violates `An enum member cannot have a numeric name.`

#### Expected behavior
Expected to transpile the generated class successfully and use something similar to the generated Java enum `NUMBER_2`.

[2021-06-11 09:49] jonaslagoni opened #243 "Generators automatically assumes class when it should be enum"
#### Describe the bug
The generator prefers other renders over enum which should be the other way around because enums are more strict.

#### How to Reproduce
Given the following JSON Schema:
[code]
`prop1` is rendered as a class when it should have been an enum.

#### Expected behavior
Expected an enum to be generated.

[2021-06-11 09:51] jonaslagoni opened #244 "Object enums are not rendered correctly"
#### Describe the bug
It is possible to define object enums but the generators cannot handle them.

#### How to Reproduce
Given the following JSON Schema:
[code]

In TS it generates:

[code]

#### Expected behavior
Expected an enum to be generated that makes sense to what I defined.

[2021-06-11 14:59] Blakelist7 commented on #236
Hey @jonaslagoni I would like to give this one a shot. I think using `if else` would be a better approach, right?

[2021-06-11 15:00] jonaslagoni commented on #236
hey @Blakelist7, awesome 👍 Yes definitely agree. Feel free to ping me if you get stuck or have any questions 🙂

[2021-06-11 18:34] Blakelist7 commented on #236
Hey @jonaslagoni could you help me with these?
[code]

[2021-06-11 19:14] jonaslagoni commented on #236
@Blakelist7 it looks like some code was removed so enums no longer generate (gonna use the first error as example) `ON("on"), OFF("off");` but generates `ON(on), OFF(off);` where it is missing the `"`. Did you remove any logic here that should not be removed or changed somehow? 🤔

Feel free to create a draft PR with the changes, then it is easier to spot whats wrong 🙂

[2021-06-11 19:41] Blakelist7 commented on #236
As far as I know, I don't think that I deleted some logic but it might have happened by mistake. I have raised a PR for more convenience, please have a look.

[2021-06-11 22:09] #236 closed

[2021-06-13 06:59] Blakelist7 commented on #235
Hey, @jonaslagoni can I try this one too ?

[2021-06-13 08:55] jonaslagoni commented on #235
@Blakelist7 of course, go for it 👍

[2021-06-13 09:07] Blakelist7 commented on #235
Thank you

1) In 1st and 3rd issue we have to rename `type`, `value` with let's say `mtype`, `mvalue` respectively, right? I am not good with variable names 😅  so do suggest.

2) In the 2nd issue we have to Refactor the code to not use nested template literals, right?

[2021-06-14 09:41] jonaslagoni commented on #235
Yea that makes sense 👍

Yep 👍

Just a quick hint, in sonarcloud when you see the issues you can click on `Why is this an issue?` where it will show you an example compliant solution and noncompliant 🙂

[2021-06-14 13:43] magicmatatjahu opened #247 "Handle only the latest non-falsey content in presets"
#### Reason/Context

Regarding to the discussion https://github.com/asyncapi/modelina/pull/239#discussion_r650933318 we should return in presets only latest non-falsey value. It means that if preset will return `undefined`, `null` or even `""`, next preset should handle the previous `content`.

We should change the line https://github.com/asyncapi/modelina/blob/master/src/generators/AbstractRender

[2021-06-14 14:06] jonaslagoni opened #248 "Wrong merge algorithm"
#### Describe the bug
The way that we currently merge models together (when we encounter combination, conditional schemas, etc) are somewhat wrong, since we merge properties together that have already been set.

#### How to Reproduce
Given the following JSON Schema:
[code]
It validates correctly against
[code]
but not
[code]
which our model would allow, i.e. the current common model representation

[2021-06-14 15:25] #235 closed

[2021-06-15 08:04] #238 closed

[2021-06-15 10:49] jonaslagoni commented on #84
This is also relevant to `propertyDependencies` as the models can then be split accordingly based on the dependencies.

[2021-06-15 10:53] #79 closed

[2021-06-16 13:57] #188 closed

[2021-06-16 14:02] jonaslagoni commented on #224
While trying to think about the code generation process.

Say we have the following JSON Schema
[code]

Do we want to generate the output (gonna use TS as example here) as:
[code]
or simply:
[code]

Any other way around it? Adding support functions to add things to the array to comply with the restrictions of correct types for arrayProperty[0] and arrayProperty[1] but not the rest?

[2021-06-17 11:55] magicmatatjahu commented on #224
[code]

isn't correct. We should write it as:

[code]

and we probably solve the problem :)

If additionalItems will be with `object` shape we can write

[code]

[2021-06-17 12:33] jonaslagoni commented on #224
Regardless of how languages should render it, we still need the `additionalItems` property for the CommonModel.

In TS we are able to render this to:
[code]
Where for other languages (especially for Java) we need to add helper methods such as something along the line of
[code]
To ensure that the developer cannot add entries to an array, and this will basically enable tuple support for Java which a

[2021-06-17 13:00] #68 closed

[2021-06-17 13:17] jonaslagoni opened #256 "Add a skeleton generator structure"
#### Reason/Context
At the moment it takes a lot of effort to set up new language support.

A code skeleton with the bare minimum would help along way.

[2021-06-18 12:11] #224 closed

[2021-06-18 12:29] jonaslagoni opened #260 "TypeScript generator should take additionalItems into consideration"
#### Reason/Context
Even though we interpret additionalItems (#224) we do not take it into consideration when rendering the TS types for arrays.

See https://github.com/asyncapi/modelina/issues/224#issuecomment-863200247 for further details on how it should be rendered.

[2021-06-18 12:30] jonaslagoni opened #261 "Java generator should take additionalItems into consideration"
#### Reason/Context
Even though we interpret additionalItems (#224) we do not take it into consideration when rendering the Java types for arrays.

See https://github.com/asyncapi/modelina/issues/224#issuecomment-863200247 for further details on how it should be rendered.

[2021-06-18 13:03] jonaslagoni opened #262 "Add helper functions to un/marshal classes"
#### Reason/Context
We need some helper functions to be able to marshal the data model instances to JSON and unmarshal bytes to instances of the data model.

#### Description
The reason we need to write this our self is that we add properties to data models which are technically not properties directly, an example here is `additionalProperties`, as it is rendered as a property in the data model, b

[2021-06-18 14:52] jonaslagoni commented on #261
Since Java does not support tuple natively as TS (#263) we need to get a bit creative. This does however force the developer to accept runtime exceptions, but I dont see any other way around it.

Whenever we encounter a tuple in Java, I suggest we add the following setter methods to help adher to the restrictive type:
[code]

I think we also have to add some serious JavaDoc to these functions to e

[2021-06-22 08:38] #260 closed

[2021-06-22 09:57] jonaslagoni opened #265 "Weird behavior of interpreter for union objects"
#### Reason/Context
For something like the following JSON Schema
[code]

Will the property `test` be split out? and what happens with `string` type? 🤔

[2021-06-23 13:43] jonaslagoni commented on #248
Remember that not all places where `CommonModel.mergeCommonModels` is used this behavior make sense. It is only in the context of the interpreter.

[2021-06-23 14:04] jonaslagoni commented on #261
Instead of trying to truly support Java tuples I think we should just take the `additionalItems` into account when rendering it.

[2021-06-24 08:41] #261 closed

[2021-06-28 06:25] czlowiek488 commented on #181
Im not sure about it. I know that you introduced changes which allow to create enums and use it for values.
But I think here is a little different thing.
Are you sure that I can use enum to define $id of a message?

[2021-06-29 11:08] jonaslagoni commented on #181
@czlowiek488 no you right, the changes does not directly allow you to do this natively. However you can manually force it to generate it with the following somewhat pseudocode (not tested):
[code]

[2021-06-29 14:08] #47 closed

[2021-06-29 16:22] czlowiek488 commented on #181
Ok its nice 👌.
However it would be good feature to have an option which will do this behind the scenes. Current solution force you to learn how this package Works.

[2021-06-29 16:49] jonaslagoni commented on #181
Yea I agree with you, there are also different kinds of enums that could be generated using the AsyncAPI file. I have no idea how to best enable such a feature though (as it is only related to AsyncAPI inputs).

Any suggestion on how you could see the API change to allow for such a feature? 🤔

[2021-06-30 14:10] czlowiek488 commented on #181
@jonaslagoni
Imho the best way to implement such a behaviour is pass those thing as extensions.

I would see it this way.
[code]
It support custom plugins so anyone would be able to modify generator in its own way.
Of course it may not be easiest to implement however it would make modelin more flexible.

[2021-07-02 12:06] jonaslagoni commented on #50
We also have a problem with CommonModel sharing types with JSON Schema, such as for example `type`.

From the perspective of CommonModel types should ONLY be an array if length > 1, otherwise it will be a simple type. This restriction is not present in the Schema class. I think we have to remove the sharing of properties completely from the Schema class.

Thoughts @magicmatatjahu ?

[2021-07-02 12:31] magicmatatjahu commented on #50
Schema extends the CommonSchema where type have signature `type?: string | string[];`

Probably I don't understand the problem.

[2021-07-02 13:22] jonaslagoni commented on #50
When a Schema is interpreted, the type are `string` if it is a simple type, and `string[]` if it is multiple types (union types). This restriction of the types are not easy to document and from the generator's perspective hard to know about.

[2021-07-05 15:51] #124 closed

[2021-07-05 15:51] #126 closed

[2021-07-05 15:57] jonaslagoni opened #287 "User-centric docs"
#### Reason/Context
At the moment all docs are contributor-centric and do not explain how a user can use the project.

#### Description
We need to add user-centric docs together with examples in generator language.

Should solve the following issues: https://github.com/asyncapi/modelina/issues/318 #296 https://github.com/asyncapi/modelina/issues/45

[2021-07-05 16:01] jonaslagoni opened #288 "Generate full output"
#### Reason/Context
At the moment the default behavior of the generator is to return the result as a segmented output. i.e. it returns the model as a bare minimum where you need to "look" for dependencies and for java add your own package.

We need to ensure that there is an option to generate everything together to allow as low customization as possible to use the library as is.

[2021-07-07 10:59] smoya opened #296 "Add End to End test so we ensure users can use @asyncapi/modelina npm package."
#### Reason/Context
Recently I tried to run the example located at https://github.com/asyncapi/modelina#example with no success.
When compiling TS, I got the few errors. The issue behind was fixed (thanks to super fast @magicmatatjahu ⚡ ) by https://github.com/asyncapi/modelina/pull/290 but also https://github.com/asyncapi/modelina/pull/292, https://github.com/asyncapi/modelina/pull/294 and https:

[2021-07-07 11:44] smoya opened #299 "Add json tags to Go generated struct"
#### Reason/Context
Current generated Go structs does not have json tags. Those are useful for encoding/decoding JSON.

#### Description
**Currently**,  for a given doc like:

[code]

The generator generates the following struct:

[code]

After adding Json tags would look like:

[code]

#### Related issue

https://github.com/asyncapi/modelina/issues/262

[2021-07-09 15:36] #154 closed

[2021-07-28 12:57] jonaslagoni commented on #176
Go generator did not need this functionality as all properties and types are rendered with pascal case and all reserved keywords are camelcased.

[2021-07-28 14:12] #176 closed

[2021-08-10 09:56] jonaslagoni opened #317 "Readability vs performance of un/marshal functions"
#### Reason/Context
With the first un/marshal functions underway, a [question came up](https://github.com/asyncapi/modelina/pull/315#discussion_r685811158)  whether we should focus on performance or readability of the code.

#### Description
The current decision was to keep a focus on performance rather than readability, as the un/marshal functions are the main executed functions for many librarie

[2021-08-10 11:34] jonaslagoni opened #318 "Missing available preset documentation"
#### Reason/Context
We have quite a few presets available to use in different languages, but no way of expressing this to the end-user.

Related to https://github.com/asyncapi/modelina/issues/287

[2021-08-15 10:55] jonaslagoni commented on #84
Already implemented to the extend that the type is implied, it however does not give you a strongly typed model.

[2021-08-15 10:55] #84 closed

[2021-08-17 13:11] jonaslagoni opened #329 "Double integer type for TS class"
#### Describe the bug
Given the following type for a property: `"type": ["integer", "number"],` the output type will be `number | number`, which is unintentional.

[2021-08-19 15:27] jonaslagoni opened #330 "Including referenced models as dependencies"
#### Describe the bug
Given a JSON Schema which results in two models being generated such as the following:
[code]

When we want to render these models we do something along these lines (using TS generator as example) :
[code]

Problem is that the generated class includes a property called `private _test?: OtherModel;`, but the `dependencies` does not include this other model.

So the question re

[2021-08-20 11:23] jonaslagoni commented on #330
cc @magicmatatjahu

[2021-08-23 08:24] magicmatatjahu commented on #330
I prefer way with going with `dependencies` list. We should avoid unnecessary props like `modelDependencies`.

Even if we traverse all properties/patternProperties/additionalProperties of model and check if given prop has `$ref`? :)

We can also extend `dependencies` list to include info about imported models like:

[code]

but I see the problem with path to the `OtherModel` because user should ha

[2021-08-23 09:07] jonaslagoni commented on #330
It is not a problem traversing the model for `$ref`s as we will need to do it regardless. However, `import OtherModel from './OtherModel'` will not be possible to assume as in theory it can be located anywhere (as the functionality currently allows this).

With `modelDependencies` you would of course need to manually keep track of where you output the models. So when dependencies need to be render

[2021-08-30 09:54] jonaslagoni commented on #287
The initial take on how we could change the documentation to be more user-centric. I declared each question as a potential use-case (or more specifically a feature in Modelina) that the user of the library can encounter. Each of these use-cases will be an individual document, that will explain how to accomplish it and the reason behind it.

1. Generate Go models
3. Generate C# models
4. Generate J

[2021-08-30 10:21] derberg commented on #287
The majority of these docs topics are about coding, using Modelina API. Providing initial docs is easy, harder to maintain in the future. Did you plan to write just markdown or rather `examples` for each, examples that can be tested on a PR?

[2021-08-30 10:31] jonaslagoni commented on #287
Good point 🤔 Most of these are actually already in place as tests. They are just all over the place (not structured to be easily discovered based on example), would you suggest we create an extra specific test per example, or restructure the tests, so there are no duplicates @derberg ?

[2021-08-30 10:42] derberg commented on #287
for user most important is example, not test itself so might be that tests are in one location, refactored to not have duplications. More important is to have "runnable examples"

[2021-08-30 10:46] magicmatatjahu commented on #287
Do we really need this? 🤔  I think that idea having each language as separate document with possible options - described by examples, not by tables like currently - should be better. For the rest use cases we can create `advanced.md` file for the cases like `Use the models for data transfer`, `Include a custom function in the data model` and `integration.md` to describe integration with Generator,

[2021-08-30 11:18] derberg commented on #287
it can be separate to not mix with library itself as they are not library-related but rather examples only + they work as integration tests too (which is then library related) 😆

[2021-08-30 12:04] smoya commented on #287
In that way, we ensure provided examples are real working examples 👍

[2021-08-30 12:15] jonaslagoni commented on #287
@magicmatatjahu you are right, we should probably bundle a lot of the cases together.

So to sum it up, what if we divide it into:
- `integration.md`
    - Listing the different, tested integration methods.
- `advanced.md`
    - For advanced customization of the output.
- `<language>.md`
    - For language specific use-cases.

For the test structure, we can address it later, not anything we have t

[2021-08-31 13:31] jonaslagoni opened #336 "C# enum generator does not generate associated values"
#### Reason/Context
We have an enum generator, that just does not generate the associated values (such as strings, numbers, booleans, and objects).
`{enums: ["test"]}` will for example generate:

[code]

Which have no knowledge of the associated values.

[2021-08-31 13:31] jonaslagoni commented on #48
Remaining issue: https://github.com/asyncapi/modelina/issues/336

[2021-08-31 13:31] #48 closed

[2021-09-01 11:04] jonaslagoni commented on #336
Scratch that, we have an enum generator, that just does not generate the correct values (such as strings and numbers).

[2021-09-02 08:57] jonaslagoni opened #340 "Number enums are not usable"
#### Describe the bug
If you have an enum defined as `enum: [21]` it will generate
[code]
however, the name cannot only be a number, it must contain some character.

I suggest we prepend the name with `NUMBER_` so it would output `NUMBER_21`.

[2021-09-02 13:01] jonaslagoni commented on #340
Duplicate https://github.com/asyncapi/modelina/issues/242

[2021-09-02 13:01] #340 closed

[2021-09-03 09:47] jonaslagoni commented on #128
Gonna close this one down as we already have it implemented in one generator. Specific issues can then be created for each generator, when the use-cases occurs.

[2021-09-03 09:47] #128 closed

[2021-09-03 11:59] #160 closed

[2021-09-03 12:49] #242 closed

[2021-09-03 12:49] #244 closed

[2021-09-03 13:04] jonaslagoni commented on #265
At the moment `test` would be split out into its own CommonModel and then depending on the generator, render incorrect object type (non referenced) as a simple type or as a separate object. Need to investigate further how to solve this.

[2021-09-06 12:36] #329 closed

[2021-09-06 13:14] magicmatatjahu commented on #125
`next` function like in middleware system should helps. Example from the express framework -  https://expressjs.com/en/guide/using-middleware.html

[2021-09-06 14:45] magicmatatjahu commented on #172
It should be done in the [cli](https://github.com/asyncapi/cli) project :)

[2021-09-06 15:26] derberg commented on #172
better create a new one as first we need a discussion on commands structure. 'asyncapi generate' should support generator and modelina as one feature, and depending on different flags you just get what you need

[2021-09-06 15:40] voxpelli opened #360 "Swagger / OpenAPI input"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
  - Swagger / OpenAPI is very similar to AsyncAPI and also builds upon JSON Schema style model definitions
- How will this change help?
  - Enable more types of conversions and a more complete toolchain for models of all types of sources.

#### Description
Please try answering few of those questions
- W

[2021-09-06 15:43] voxpelli commented on #172
I kind of would like having a small CLI for just this module as well, but maybe it shouldn't live in this repo.

This module has potentials for use outside of the AsyncAPI ecosystem and would benefit everyone if it isn't too tightly coupled to the AsyncAPI ecosystem (I eg. created #360 now as the API:s I currently am consuming are Swagger API:s, though will eventually hopefully move to AsyncAPI AP

[2021-09-08 11:20] #336 closed

[2021-09-08 12:21] #247 closed

[2021-09-08 14:02] jonaslagoni opened #365 "Improve reuseability and preset developer experience"
### Reason/Context
This is one big braindump, that will continue to be iterated until the CommonModel enables a better behavior in the following use-cases.

### Issues

- **You need to know which support functions you need to call to render something like types**
- **Iterating pattern properties are cumbersome and require knowledge of what the name for the property is.**

Currently, many languages

[2021-09-09 09:53] jonaslagoni commented on #360
Just leaving this for later:

- [OpenAPI 3.0.3](https://spec.openapis.org/oas/v3.0.3) - superset of [draft-wright-json-schema-00](https://datatracker.ietf.org/doc/html/draft-wright-json-schema-00)
- [OpenAPI 3.1](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#schemaObject) - superset of [2020-12 draft](https://tools.ietf.org/html/draft-bhutton-json-schema-00)
- [Swagger 2

[2021-09-09 09:58] jonaslagoni commented on #148
While this would be great to have, there exist no tools for this.

In the simplest form we should be able to detect the following schemas:
[code]

A possible approach suggested by @jdesrosiers on the JSON Schema slack:

Closing this issue for now, as we have no way to enable this.

[2021-09-09 09:58] #148 closed

[2021-09-09 10:48] jonaslagoni commented on #330
We need to remember that each model has a `getNearestDependencies` function, meaning you can actually include this already, and won't need any extra implementation.

[2021-09-11 10:51] stefanerwinmayer opened #367 "Typescript: Using oneOf leads to creation and use of an anonymous schema rather than use of a union type"
#### Describe the bug
Typescript: Using oneOf leads to creation and use of an anonymous schema rather than use of a union type.

#### How to Reproduce

api.yaml
[code]
Example code to consume the api:
[code]
Generated outcome:
[code]

#### Expected behavior
According to my understanding, this should be generated instead:
[code]

[2021-09-11 10:52] stefanerwinmayer commented on #367
Prematurely submitted by accident. Will continue to edit this.

[2021-09-13 10:34] jonaslagoni commented on #367
I am in the process of rewriting the underlying model, as this scenario is currently not possible and too tightly coupled with JSON Schema. Once the rewrite is complete I will take a look at this 👍

[2021-09-15 15:23] stefanerwinmayer commented on #367
Thank you @jonaslagoni. I will eagerly await your rewrite.

[2021-09-19 11:56] jonaslagoni commented on #365
# WIP, starting to write up possible solution to fix the above problems

Possible solution, gonna use examples from the TypeScript generator to show the changes.

Introducing new specific model types:
- Model: The base model for all other models, used to contain
- UnionModel: When more then one model represent the same "property".
- BooleanModel: When the data model is a boolean representation.
-

[2021-09-22 11:30] jonaslagoni opened #387 "Show how to generate Go data models"
We have [recently changed the documentation approach](https://github.com/asyncapi/modelina/pull/338) for this library to be user-centric. Meaning we explain use-cases and ways to use this library, rather then just give you a list of configurations possible. In that effort we need your help in finishing all the documentation and example!

This issue is specially designed for first-time contributors

[2021-09-22 11:58] jonaslagoni commented on #330
Closing as we already have the functionality to retrieve the models.

[2021-09-22 11:58] #330 closed

[2021-09-22 11:59] jonaslagoni commented on #296
I think we can close this issue now with the introduction of example tests. Thoughts @smoya?

[2021-09-22 13:23] #86 closed

[2021-09-22 15:41] smoya commented on #296
What do you mean by example tests? Are we running a full end to end test where we compile modelina from source code?

[2021-09-23 07:31] jonaslagoni commented on #360
@voxpelli do you by any chance have any Swagger/OpenAPI documents you can share, that I can test with? 🙂

Also, do you mind if I ping you for giving a review once the features are complete?

[2021-09-23 10:24] jonaslagoni opened #388 "Member names cannot be the same as their enclosing type"
#### Describe the bug
If you define a property with the same name as the class itself, compilation fails with `Member names cannot be the same as their enclosing type`.

[code]

[2021-09-23 16:52] jonaslagoni opened #389 "Root internal reference does not resolve"
#### Describe the bug
This is a transitive bug from https://github.com/APIDevTools/json-schema-ref-parser, but gonna keep an issue to track it.

Minimal reproducible input:

[code]
#### Workaround
If you encounter such a problem, resolve the root reference yourself (if that is possible).

#### Related issues
Related to https://github.com/APIDevTools/json-schema-ref-parser/issues/201

[2021-09-23 17:26] jonaslagoni opened #390 "Enum generate int values when should be double"
#### Describe the bug

Given the following schema
[code]

The generator will generate the following schema

[code]

Which throws the following error, when compiled:

[code]

#### Expected behavior
Expected the enum to be compiled successfully. So the enum generator has to check the type of the enum, to see if integer values should convert to double values, or the other way around.

[2021-09-24 11:42] jonaslagoni opened #391 "Figure out how to render union types for Java class"
#### Reason/Context
For languages such as TS it is easy to create union types, however, for Java it is a bit more difficult as there are no native types for this.

So how should we handle those?

[2021-09-24 11:43] jonaslagoni opened #392 "Figure out how to render union types for Go struct"
#### Reason/Context
For languages such as TS it is easy to create union types, however, for Go it is a bit more difficult as there are no native ways for this.

So how should we handle those?

[2021-09-24 11:43] jonaslagoni opened #393 "Figure out how to render union types for C# class"
#### Reason/Context
For languages such as TS it is easy to create union types, however, for C# it is a bit more difficult as there are no native ways for this.

So how should we handle those?

[2021-09-25 12:40] jonaslagoni opened #396 "Generating models to files directly for Java"
#### Reason/Context
As a precursor to #172 we need to give the user the option to generate models directly to files.

This is related to #288 as the full output is needed to write it to a file.

[2021-09-25 12:41] jonaslagoni opened #397 "Generating C# models directly to files"
#### Reason/Context

As a precursor to #172 we need to give the user the option to generate models directly to files.

This is related to #288 as the full output is needed to write it to a file.

[2021-09-25 12:42] jonaslagoni opened #398 "Generating Go models directly to files"
#### Reason/Context
As a precursor to #172 we need to give the user the option to generate models directly to files.

This is related to #288 as the full output is needed to write it to a file.

[2021-09-25 12:43] jonaslagoni opened #399 "Generating TypeScript models directly to files"
#### Reason/Context
As a precursor to #172 we need to give the user the option to generate models directly to files.

This is related to #288 as the full output is needed to write it to a file.

[2021-09-25 12:43] jonaslagoni opened #400 "Generating JavaScript models directly to files"
#### Reason/Context
As a precursor to #172 we need to give the user the option to generate models directly to files.

This is related to #288 as the full output is needed to write it to a file.

[2021-09-25 14:42] jonaslagoni opened #402 "Too inaccurate naming of models for AsyncAPI inputs"
#### Describe the bug
While I am not sure on the exact expected outcome, but given the [zbos-mqtt-api document](https://bitbucket.org/qbmt/zbos-mqtt-api/raw/25ee18cee0db90d9f370e0bcf1bfbb6fbb7621ce/zbos_mqtt-all-asyncapi.json), the only models that are generated are `Anonymous`, which IMO should not be in many cases.

This will most likely be a transitive "bug", with our [JS parser.](https://githu

[2021-09-27 10:01] magicmatatjahu commented on #111
@jonaslagoni I'm not on the topic, is this issue still relevant?

[2021-09-27 10:01] magicmatatjahu commented on #50
@jonaslagoni I'm not on the topic, is this issue still relevant?

[2021-09-27 10:02] magicmatatjahu commented on #111
@jonaslagoni I'm not on the topic, is this issue still relevant?

[2021-09-27 10:02] magicmatatjahu commented on #262
@jonaslagoni I'm not on the topic, is this issue still relevant?

[2021-09-27 10:03] jonaslagoni commented on #50
#365 should address the issue, closing.

[2021-09-27 10:03] #50 closed

[2021-09-27 10:04] jonaslagoni commented on #262
Still relevant for Go, JS and Java (maybe).

[2021-09-27 10:07] jonaslagoni commented on #288
Still being worked on.

[2021-09-27 10:08] jonaslagoni commented on #248
Still relevant.

[2021-09-27 10:10] jonaslagoni commented on #234
Still relevant.

[2021-09-27 10:10] jonaslagoni commented on #232
Still relevant.

[2021-09-27 10:10] jonaslagoni commented on #198
#365 solves this issue.

[2021-09-27 10:10] #198 closed

[2021-09-27 10:11] jonaslagoni commented on #194
Still relevant.

[2021-09-27 10:12] jonaslagoni commented on #193
Still relevant, as #365 should solve this by providing both models, time will tell.

[2021-09-27 10:15] jonaslagoni commented on #191
I still don't see the value in refactoring it, gonna let it close on its own if no further actions are made.

[2021-09-27 10:15] jonaslagoni commented on #187
Gonna let this issue run out, even though I would love to enable it, it's just not time at the moment.

[2021-09-27 10:16] jonaslagoni commented on #171
Still relevant.

[2021-09-27 10:39] jonaslagoni commented on #45
Still relevant.

[2021-09-27 10:40] jonaslagoni commented on #108
Still relevant.

[2021-09-28 15:37] voxpelli commented on #360
@jonaslagoni Unfortunately nothing public, but I do remember the file I was looking at this time as being a Swagger 2.0 file, so #378 would solve it.

Please ping me when you want a review!

[2021-10-01 09:36] jonaslagoni opened #409 "Show how to generate Java data models"
## What to solve

We want to show how people can generate Java models using the `JavaGenerator`.

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE and rename it to `generate-java-models`. And instead of using the `TypeScriptGenerator`, you have to use the `JavaGenerator`. Update any relevant documentation.

<details>
<summary>Some folks want more specific tas

[2021-10-01 09:43] jonaslagoni opened #410 "Show how to generate JavaScript data models"
## What to solve

We want to show how people can generate JavaScript models using the `JavaScriptGenerator`.

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE and rename it to `generate-javascript-models`. And instead of using the `TypeScriptGenerator`, you have to use the `JavaScriptGenerator`. Update any relevant documentation.

<details>
<summary>Some folk

[2021-10-01 09:45] jonaslagoni opened #411 "Show how to generate TypeScript data models"
## What to solve

We want to show how people can generate TypeScript models using the `TypeScriptGenerator`.

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE and rename it to `generate-typescript-models`. Code wise you actually dont have to change anything from the template example :smile: Update any relevant documentation.

<details>
<summary>Some folks wan

[2021-10-01 09:48] jonaslagoni opened #412 "Show how to generate C# data models"
## What to solve

We want to show how people can generate Java models using the `CsharpGenerator`.

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE and rename it to `generate-csharp-models`. And instead of using the `TypeScriptGenerator`, you have to use the `CsharpGenerator`. Update any relevant documentation.

<details>
<summary>Some folks want more specif

[2021-10-01 10:10] jonaslagoni opened #413 "Show how to include a custom function in the data model"
## What to solve

Sometime you want to include some custom functionality into the generated models, and here is how.

This can be done through a custom preset using the hook `additionalContent`.

Read more about presets here https://github.com/asyncapi/modelina/blob/master/docs/presets.md

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree

[2021-10-01 10:14] himanshu007-creator commented on #413
Hi, i would like to work on this issue✨

[2021-10-01 10:18] jonaslagoni commented on #413
Awesome! Ping me if you have any questions or problems 🙂

[2021-10-01 10:40] jonaslagoni opened #414 "Show how to change the naming format for properties"
## What to solve

Sometimes you want to decide on the naming format of properties, maybe you always want to append something, or just want a different format.

This can be done by changing the naming convention, by providing a custom function for formatting the property name.

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examp

[2021-10-01 10:44] jonaslagoni opened #415 "Show how to change the naming format for data models"
## What to solve

Sometimes you want to decide on the naming format for the data model, maybe you always want to append something, or just want a different format.

This can be done by changing the naming convention, by providing a custom function for formatting the data type name.

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master

[2021-10-01 11:01] jonaslagoni opened #416 "Show how to change the generated indentation type and size"
## What to solve

Sometimes the data models that are generated, should be part of some bigger code that is inlined differently. Therefore, the default indentation is no longer sufficient.

This can be done by changing the indentation options, by providing custom values.

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TE

[2021-10-01 11:24] jonaslagoni opened #417 "Show how to generate C# data models with serializer functionality"
## What to solve

Sometimes you want to use the models for data transfers, and while most cases would work out of the box, custom serializer functionality is needed for the advanced cases.

If you generated the data models based on JSON Schema document and you want the serialized data to validate against the schema, this functionality is REQUIRED.

This can be done including the preset `CSHARP_JSO

[2021-10-01 11:28] jonaslagoni opened #418 "Show how to generate TS data models with un/marshal functions"
## What to solve

Sometimes you want to use the models for data transfers, and while most cases would work out of the box, custom serializer functionality is needed for the advanced cases.

If you generated the data models based on a JSON Schema document and you want the serialized data to validate against the schema, this functionality is REQUIRED.

This can be done by including the preset `TS_CO

[2021-10-01 11:33] jonaslagoni opened #419 "Show how to generate TS example function"
## What to solve

You might stumble upon a user case (we had one in code generation) where you want a simple example instance of the generated data model.

This can be done by including the preset `TS_COMMON_PRESET` using the option `example`.

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE and rename it to `ty

[2021-10-01 11:38] jonaslagoni opened #420 "Show how to generate C# data models with Equal and GetHashCode functions"
## What to solve

Depending on what you want to use the data models for, you might stumple upon a scenario where you want the models to overwrite [Equal](https://docs.microsoft.com/en-us/dotnet/api/system.object.equals?view=net-5.0) and [GetHashCode](https://docs.microsoft.com/en-us/dotnet/api/system.object.gethashcode?view=net-5.0) functions.

This can be done including the preset `CSHARP_COMMON_

[2021-10-01 11:53] jonaslagoni opened #421 "Show how to generate Java data models that overwrite equal method"
## What to solve

Depending on what you want to use the data models for, you might stumble upon a scenario where you want the models to overwrite [equals](https://www.javatpoint.com/java-string-equals) methods.

This can be done by including the preset `JAVA_COMMON_PRESET` and providing the option `equal`. By default, if no options are present, all support functions are included.

Use the followin

[2021-10-01 12:00] jonaslagoni opened #422 "Show how to generate Java data models that overwrite hashCode method"
## What to solve

Depending on what you want to use the data models for, you might stumble upon a scenario where you want the models to overwrite [hashCode](https://www.javatpoint.com/java-integer-hashcode-method) method.

This can be done by including the preset `JAVA_COMMON_PRESET` and providing the option `hashCode`. By default, if no options are present, all support functions are included.

Us

[2021-10-01 12:06] jonaslagoni opened #423 "Show how to generate Java data models that overwrite toString method"
## What to solve

Depending on what you want to use the data models for, you might stumble upon a scenario where you want the models to overwrite [toString](https://www.javatpoint.com/understanding-toString()-method) method.

This can be done by including the preset `JAVA_COMMON_PRESET` and providing the option `classToString`. By default, if no options are present, all support functions are inclu

[2021-10-01 12:11] jonaslagoni opened #424 "Show how to change collection types for Java data models"
## What to solve

Sometimes there can be reasons you want to change whether arrays should be rendered as `List` or `Array` type.

This can be done by changing the option `collectionType`.

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE and rename it to `java-change-collection-type`. Update any relevant document

[2021-10-01 12:53] jonaslagoni opened #425 "Show how to generate Java data models with javax validation constraints annotations"
## What to solve

In some cases where you generate the models from JSON Schema and you might want them to include [Javax validation constraint](https://www.baeldung.com/javax-validation) annotations.

This can be done including the preset `JAVA_CONSTRAINTS_PRESET`.

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLAT

[2021-10-01 12:58] sudiptog81 commented on #425
Trying to work on this one :)

[2021-10-01 12:59] jonaslagoni commented on #425
Awesome! Ping me if you have any problems 🙂

[2021-10-01 13:13] jonaslagoni opened #426 "Show how to generate Java data models with JavaDoc"
## What to solve

In some cases where you generate the models from JSON Schema and you might want them to include JavaDocs from descriptions and examples.

This can be done including the preset `JAVA_DESCRIPTION_PRESET`.

Use the following code in the example:
[code]

Together with the following input document:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/

[2021-10-01 13:18] jonaslagoni opened #427 "Show how to generate Java data models with Jackson annotation"
## What to solve

In some cases, you might want to include [Jackson annotation](https://www.baeldung.com/jackson-annotations) for basic serialization.

This can be done by including the preset `JAVA_JACKSON_PRESET`.

Use the following code in the example:
[code]

Duplicate the folder https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE and rename it to `java-generate-jackson-annotati

[2021-10-01 18:41] jmutt78 commented on #419
I would like to try to tackle this one.

[2021-10-01 19:08] alequetzalli commented on #427
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:08] alequetzalli commented on #387
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #409
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #410
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #411
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #412
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #413
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #414
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #415
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #416
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:09] alequetzalli commented on #417
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #418
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #419
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #420
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #421
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #422
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #423
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #424
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #425
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-01 19:10] alequetzalli commented on #426
Happy Hacktoberfest, everyone! ✨✨ Feel free to reach out to me for any questions you may have about adding documentation on these open issues. 🙂

Tag me in your AsyncAPI Doc PRs 📄, my GitHub handle is /alequetzalli 🐙.

[2021-10-02 06:28] Subhangini commented on #415
I am a first-time contributor and want to know that, in this issue, we just have to duplicate the folder 'https://meet.google.com/ext-ramu-yey and rename it to `changing-naming-format-for-data-models`

[2021-10-02 14:42] jonaslagoni commented on #415
You have to duplicate the [template folder](https://github.com/asyncapi/modelina/tree/master/examples/TEMPLATE) and rename that yes. And then adapt all relevant files, it is described more precisely if you click the collapsed text in the issue 🙂

[2021-10-04 14:09] jonaslagoni commented on #360
@voxpelli the PR is ready from our side to be merged, if you want to give your review, now is the time 😄 Let me know if you don't have time to review it, so we don't wait in vain 👍

I suggest to download the branch and adapt the example to fit your need - https://github.com/jonaslagoni/generator-model-sdk/tree/feature/swagger_new/examples/swagger2.0-from-object

[2021-10-06 09:54] jonaslagoni commented on #411
Solved in #432

[2021-10-06 09:54] #411 closed

[2021-10-06 15:45] jonaslagoni commented on #399
Blocked by https://github.com/asyncapi/modelina/issues/439

[2021-10-06 18:52] jonaslagoni opened #440 "Implement complete model rendering for C#"
#### Getting started
Before actually getting started with solving the issue, there are a few things that need to be set up:

- Make sure you familiarize yourself with our [code-of-conduct](https://github.com/asyncapi/.github/blob/master/CODE_OF_CONDUCT.md) and [contributor guidelines](https://github.com/asyncapi/.github/blob/master/CONTRIBUTING.md)
- We work on forks of repositories and branches i

[2021-10-06 19:02] jonaslagoni opened #441 "Should we remove JavaScript generator? 🤔"
#### Reason/Context
As we already have TS, do we really need a JavaScript generator? 🤔

cc @magicmatatjahu

[2021-10-09 11:27] jonaslagoni opened #446 "C# presets uses .NET dependencies"
There is no clear documentation about which presets uses .NET dependencies, and I did not even check it myself when creating them.

We need some clear structure so users know what presets they can use.

[2021-10-09 13:48] md-saif-husain commented on #440
@jonaslagoni  I want to take this up .

For output instead of checking only for undefined namespace can we do something like below
[code]

[2021-10-11 11:18] #287 closed

[2021-10-11 12:04] jonaslagoni commented on #318
Closing as we don't list all the presets, we rather guide the user through use-cases.

[2021-10-11 14:04] jonaslagoni opened #449 "Pattern matching numbers cannot be used as properties"
#### Describe the bug
Given the following schema:

[code]

It generates the property along the lines of `15D2XxPatternProperties` which is not recognized as a proper property name.

This is related to all output languages

[2021-10-11 14:11] jonaslagoni opened #450 "Special cases in enum values fails to generate accurate enum output"
#### Describe the bug
Given the schema:
[code]
It would generate the enum output

[code]

Which cannot happen as no duplicate keys may be generated

[2021-10-11 14:22] jonaslagoni opened #452 "Numbers cannot be used as identifiers for properties"
#### Describe the bug
Given a schema such as
[code]

The following is generated:

[code]

Related to https://github.com/asyncapi/modelina/issues/449

[2021-10-11 16:56] jonaslagoni opened #453 "Sequence of keywords result in never ending interpretation"
#### Describe the bug
We have an issue with the interpreter where we can encounter keyword sequences that creates a never-ending interpretation. I have taken the time to make a minimal reproducible example.

I found this bug when trying to generate models for FHIR - https://hl7.org/fhir

Download the full file here: https://hl7.org/fhir/fhir.schema.json.zip

[2021-10-11 21:29] jonaslagoni opened #456 "Numbers cannot be used as names of classes"
#### Describe the bug
Given a schema such as:

[code]

it renders the name of the class `export class 1234Test {` which is not supported in most if not all languages.

[2021-10-12 09:02] jonaslagoni opened #457 "Adopt Core Infrastructure Initiative Best Practices for Passing level"
#### Reason/Context
Based from https://github.com/asyncapi/.github/issues/38

Progress - https://bestpractices.coreinfrastructure.org/en/projects/5279

In an effort to offer high-quality software, not just in terms of code but also in terms of security, transparency, and accessibility, in alignment with our Vision The AsyncAPI community grows 400% stated [here](https://github.com/asyncapi/website/

[2021-10-12 09:39] jonaslagoni commented on #452
Related BlackBox tests that currently is being blacklisted -
https://github.com/asyncapi/modelina/blob/3f14b6cc44eb10af4c74fbba9d8d12037ae66ad4/test/blackbox/blackbox.spec.ts#L57

[2021-10-12 09:40] jonaslagoni commented on #390
Related BlackBox tests that currently is being blacklisted -
https://github.com/asyncapi/modelina/blob/3f14b6cc44eb10af4c74fbba9d8d12037ae66ad4/test/blackbox/blackbox.spec.ts#L54
https://github.com/asyncapi/modelina/blob/3f14b6cc44eb10af4c74fbba9d8d12037ae66ad4/test/blackbox/blackbox.spec.ts#L41

[2021-10-13 12:07] jonaslagoni opened #460 "Go generates reserved keyword properties"
#### Describe the bug

Given the input:

[code]

It will generate a struct with the reserved keyword `break` - https://notes.shichao.io/golang/

[2021-10-13 12:19] jonaslagoni opened #461 "Id and generated name of a data model is hard to resolve"
#### Reason/Context
Given the following interaction with a generator:
[code]

It will always output `true`.

However the `outputModel.modelName` should be based on what the underlying renderer renders the model name as. I.e. for Java class output, it should be the same name as the class instead of the raw `$id`. Because each language has its own formatting rules for "class"/enum names as well as a

[2021-10-13 14:34] jonaslagoni opened #462 "How to handle root simple types"
#### Reason/Context

We need all generators to handle primitive types in some form or another. For TS there exist [algebraic data types](https://itnext.io/practical-introduction-to-algebraic-datatypes-adts-in-typescript-1cb6952e4c6d), as we currently render through `TypeRenderer` - https://github.com/asyncapi/modelina/blob/master/src/generators/typescript/renderers/TypeRenderer.ts

This is however

[2021-10-14 16:48] panwauu commented on #418
I am really interested in the un/marshal functions, but I dont get the idea totally to be honest. Maybe if you get me up to speed, I can tackle this one.

[2021-10-14 16:50] jonaslagoni commented on #418
Awesome 👍 Of course, which part of the idea dont you get? 🙂

[2021-10-14 17:57] jonaslagoni commented on #418
It does not validate anything on it's own, maybe it should do that? 🧐 That's actually not a bad feature 🥳 Want to create a feature request for it?

 Currently, the un/marshalling functions only convert to and from JSON, nothing more nothing less. But indirectly it ensures that if you generated the models with JSON Schema (or indirectly AsyncAPI and OpenAPI inputs, as they both define payloads with

[2021-10-14 18:27] jonaslagoni commented on #418
Hmm, true, might have been too much to mix that in 😅

It is needed any time you wish to convert the models to and from JSON i.e. when using the data models in the context of sending data back and forth.

While you can do `JSON.stringify(datamodel)`, it will definitely give you an output that can be used in most cases, however, there are edge cases where it does not:
1. If you generated the data mo

[2021-10-15 09:17] #418 closed

[2021-10-15 09:32] panwauu commented on #367
As the union is a typescript specific feature, maybe it could help to think about how the expected output should look like with other generators.

[2021-10-20 21:38] panwauu commented on #450
Also I noticed that in OpenAPI generator they have a [similar issue](https://github.com/OpenAPITools/openapi-generator/issues/5110). Sadly they did not solve the problem yet so we cannot see how they tackled it

[2021-10-20 21:56] panwauu opened #483 "Broken links to customization"
I dont know where the links were supposed to lead so I cant fix it.
BTW is there a tool to check all the links in the documentation? Would be a neat thing ([Issue in .github](https://github.com/asyncapi/.github/issues/92)).

https://github.com/asyncapi/modelina/blob/d72f11fda764b4eeaa0fe83f2c25279ed37b0da8/docs/generators.md?plain=1#L36
https://github.com/asyncapi/modelina/blob/d72f11fda764b4eeaa0

[2021-10-21 11:30] #410 closed

[2021-10-21 13:44] #416 closed

[2021-10-29 11:27] jonaslagoni opened #488 "Add helper functions to un/marshal data models for Java"
#### Reason/Context
We need some helper functions to be able to marshal the data model instances to JSON and unmarshal JSON to instances of the data model.

#### Description
The reason we need to write this our self is that we add properties to data models which are technically not properties directly, an example here is `additionalProperties`, as it is rendered as a property in the data model, bu

[2021-10-29 11:28] jonaslagoni opened #489 "Add helper functions to un/marshal data models for Go"
#### Reason/Context
We need some helper functions to be able to marshal the data model instances to JSON and unmarshal bytes to instances of the data model.

#### Description
The reason we need to write this our self is that we add properties to data models which are technically not properties directly, an example here is `additionalProperties`, as it is rendered as a property in the data model, b

[2021-10-29 11:28] jonaslagoni opened #490 "Add helper functions to un/marshal data models for JS"
#### Reason/Context
We need some helper functions to be able to marshal the data model instances to JSON and unmarshal JSON to instances of the data model.

#### Description
The reason we need to write this our self is that we add properties to data models which are technically not properties directly, an example here is `additionalProperties`, as it is rendered as a property in the data model, bu

[2021-10-30 12:26] jonaslagoni commented on #450
@panwauu for sure!

Each language has its own rendering of the raw enums.

Gonna focus on the TS enum renderer, as I assume this is the one you want to solve?

More precisely [it is the normalizeKey function you want to look at](https://github.com/asyncapi/modelina/blob/4248b55da0e5e7c9c44869b2ea8a686ee362fc30/src/generators/typescript/renderers/EnumRenderer.ts#L40), this is what determines the ke

[2021-11-02 18:31] #461 closed

[2021-11-03 11:11] #450 closed

[2021-11-03 11:48] jonaslagoni opened #502 "Special cases in enum values fails to generate accurate enum keys for Java generator"
#### Describe the bug
Thanks to @panwauu, we already have it solved in the TS generator, see https://github.com/asyncapi/modelina/issues/450 and fix in https://github.com/asyncapi/modelina/pull/497.

We need to apply the same fix we did here:
https://github.com/asyncapi/modelina/blob/2a8659da465f53f9cfe1097a622ed82d0fa7594c/src/generators/typescript/renderers/EnumRenderer.ts#L53
to this line:
http

[2021-11-03 11:50] jonaslagoni opened #503 "Special cases in enum values fails to generate accurate enum keys for C# generator"
#### Describe the bug
Thanks to @panwauu, we already have it solved in the C# generator, see https://github.com/asyncapi/modelina/issues/450 and fix in https://github.com/asyncapi/modelina/pull/497.

We need to apply the same fix we did here:
https://github.com/asyncapi/modelina/blob/2a8659da465f53f9cfe1097a622ed82d0fa7594c/src/generators/typescript/renderers/EnumRenderer.ts#L53
to this line:
http

[2021-11-03 11:50] panwauu opened #504 "Special cases in enum values fails to generate unique enum keys"
#### Describe the bug
Some Edge-cases can lead to duplicate keys in enums. Given the schema:
[code]
It would generate the enum output
[code]

### Proposed solution
After generation check the generated keys and add the index on duplicates.
Proposed output:
[code]

This can still lead to duplicates in other edge cases.
[code]
[code]

This could be applied iteratively until there are no more duplicat

[2021-11-03 12:21] jonaslagoni commented on #504
Definitely, a "problem" that we should solve. Not sure I like the index approach, as it is rather hard to know from a user standpoint what is what. In my mind, the key that is most notably changed i.e. `test+`, needs to make sure it has no conflicts, it is not the others that have to adapt.

In your example:
[code]

My first assumption is that the keys for the enums are the ones that most accurate

[2021-11-03 13:11] panwauu commented on #504
This would be a nicer approach.
It would require a more complex implementation as we need to determine the priority of the keywords.
As this is an edge case I would also consider it valid to just go for the simplest solution available to provide valid output in all cases even if it is suboptimal for these edge cases.
Probably everything else is just _overengineering_?

[2021-11-04 13:52] jonaslagoni opened #508 "Create CODEOWNERS file"
#### Reason/Context
Same as we have in bindings https://github.com/asyncapi/bindings/blob/master/CODEOWNERS we need to create the file for Modelina.

Especially if we want to do something like https://github.com/asyncapi/modelina/discussions/487

[2021-11-09 21:26] joe-narvaez commented on #49
If we could get dataclass and/or pydantic support, that would be ideal.

[2021-11-09 21:28] joe-narvaez opened #509 "Implement Rust generator and renderers"
Implement Rust generator and renderers like in TS or Java.

Generator should have possibility to define presets for struct, enum type.

Additional: create presets for serialisation/converters from json

[2021-11-09 23:04] humbleengineer commented on #49
Double thumbs up to that!

[2021-11-12 23:23] cameronbraid commented on #367
I would suggest that union types in java could be done if asyncapi adopted the openapi spec in regards to discriminators

https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/

then you could do :

[code]
public abstract class A {
  abstract String getObjectType();
  Map<String, Object> additionalProperties;
}

public class B extends A {
  Long someProp;

}
public class C

[2021-11-15 07:37] ThanksForAllTheFish opened #510 "Java equals and hashcode breaks compilation"
When generating a java model including equals and hashcode settings, the resulting files break compilation.

The reason is that equals is generated using `Objects.equals` util method, but the relative `import java.util.Objects` is omitted.

Sample repo: https://github.com/ThanksForAllTheFish/modelinabug

How to reproduce once cloned:

- `npm ci`
- `npm run generate`
- check files in `java/org/t4at

[2021-11-17 02:03] yangs0459 opened #514 "please add python"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

#### Description
Please try answering few of those questions
- What changes have to be introduced?
- Will this be a breaking change?
- How could it be implemented/designed?

[2021-11-17 08:15] magicmatatjahu commented on #514
Duplicated https://github.com/asyncapi/modelina/issues/49 :)

[2021-11-17 08:15] #514 closed

[2021-11-17 09:58] derberg commented on #49
@damaru-inc hey, this one might be interesting for you. Since you created https://github.com/asyncapi/python-paho-template/ it means to me you are a good candidate to contribute here. Side effect is that later you can use Modelina in your template to generate some Python code

[2021-11-17 12:02] #510 closed

[2021-11-17 12:15] jonaslagoni commented on #510
@all-contributors please add @ThanksForAllTheFish for bug

[2021-11-22 21:14] #508 closed

[2021-12-13 19:30] quadrrem commented on #502
I gave it a shot in the PR #526 above, please let me know what you think.

[2021-12-14 09:10] #502 closed

[2021-12-15 10:52] quadrrem commented on #504
What about just throwing an error in case there are duplicate keys when rendering the enum?
It's kind of "fail-fast", not too complex to implement and will "solve" all possible edge cases.

You just have to ensure that the message is descriptive enough to point to the offending key in the api definition (and also the fact that a potential normalization has happened)

[2021-12-15 12:46] jonaslagoni commented on #504
That could also be an option 🤔

This scenario is only triggered because we constrain the keys to the language, and in that case, we might end up with duplicate keys. Failing the generation, because something we did not handle correctly, is bad UX 😅 Cause it is not the user of the library that did something wrong.

[2021-12-16 15:10] voxpelli opened #532 "Generate JSON Schema output"
#### Reason/Context

As JSON Schema is a common denominator of all of the input types, being able to take any type of input and output normalized JSON Schema would make this tool useful in other flows based on JSON Schemas.

It can then easily be plugged in to generate JSON Schema from OpenAPI/Swagger or AsyncAPI inputs + possibly even update outdated JSON Schema syntax into the latest and greates

[2021-12-16 15:37] jonaslagoni commented on #532
Interesting, thanks for raising the issue! I agree it would be great to have.

Yes, good point.

I don't think there will be a way to guarantee the output JSON Schema will validate the very same data as the input JSON Schema.

This is because we interpret it from validation rules (which are or can be very strict) to a looser format that only represents the underlying structure. For example, if you

[2021-12-16 16:32] voxpelli commented on #532
A complementary feature then could be to take eg TypeScript definitions as input as well (probably a bit complicated) and/or to add JTD as a format for both input and output: https://ajv.js.org/guide/schema-language.html#json-type-definition

[2021-12-16 17:27] jonaslagoni commented on #532
Absolutely, please create another feature request for it, thanks!

Related TS input issue: https://github.com/asyncapi/modelina/issues/187

[2021-12-17 10:45] reuben-tonna-ixaris opened #533 "Java generation - support for 'format' classifier"
In the specification when I define my schema I can define a format e.g. datetime, email, etc.

At the moment when I generate with modelina java DTOs properties having a format defines are given a type of "Object".

Having the generated code support the api specified constraints (string = email, or string is to be interpreted as a date) is important for correctness and consistency of how an API is

[2021-12-17 10:51] reuben-tonna-ixaris opened #534 "Java DTO generation for strict formats is assigning type 'Object' instead of expected type 'String'"
Short term at least get the type to reprot as String (as happens for other languages - this is the bug referred to here). Longer term support for strict formats is highly desirable especially for types like dates - this is the enhancement referred to by https://github.com/asyncapi/modelina/issues/533.

Sample yaml:

asyncapi: 2.2.0
info:
  title: Example
  version: 0.1.0

servers:
  production:

[2021-12-19 22:56] akulpillai opened #535 "[Security] Workflow coverall.yml is using vulnerable action actions/checkout"
The workflow coverall.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(

[2021-12-20 08:01] derberg commented on #535
Closing in favor of https://github.com/asyncapi/.github/issues/113. We manage 90% of actions in one repo and then auto-replicate them.

[2021-12-20 08:01] #535 closed

[2021-12-21 16:41] jonaslagoni opened #538 "Non-required properties are required by constructor"
#### Describe the bug
The JavaScript generator creates constructors that requires non-required properties.

#### How to Reproduce
Given the following input:

[code]

It generates:

[code]

#### Expected behavior
Only expected the constructor to be:

[code]

This is because the [JavaScript class render](https://github.com/asyncapi/modelina/blob/593a6e83740827444d7e72746a8feec8a82f3a78/src/generator

[2021-12-21 18:38] jonaslagoni commented on #534
@reuben-tonna-ixaris for the java generator, it is actually already supported. The only problem you are phasing is that you are using the format `datetime`, when it should be [date-time](https://json-schema.org/understanding-json-schema/reference/string.html#dates-and-times).

With this change, it generates the type `java.time.OffsetDateTime`. It reason it generates `Object` is that it is our back

[2021-12-21 18:38] #534 closed

[2021-12-21 18:39] jonaslagoni commented on #533
As mentioned in https://github.com/asyncapi/modelina/issues/534, the java generator actually supports semi formats (not all).

Gonna leave this issue open until we get a better handle on which formats are allowed and how they should be represented.

[2021-12-21 20:16] jonaslagoni opened #542 "Model dependencies are not accurately resolved"
#### Describe the bug
Some model dependencies are not accurately resolved.

#### How to Reproduce
Add the following test to the CommonModel test:

[code]

[2021-12-22 11:45] jonaslagoni commented on #106
Still relevant

[2021-12-22 11:56] jonaslagoni commented on #393
I think it might make sense to [adopt something like the following implementation](https://stackoverflow.com/a/7302957/6803886):

[code]

This can be easily scaled to any number of union types.

This also means, that whenever the generator detects that a union type is present in the models, it needs to include these support classes. However, there is no way around it regardless.

Because we allow

[2021-12-22 12:18] jonaslagoni commented on #111
I think we can close it. The default presets always (and should) provide the model that closest represents the input data, any additional functions, wrappers, etc, are to be added by the user of the library.

[2021-12-22 12:18] #111 closed

[2021-12-23 10:15] Devansh-kajve commented on #538
Hey there @jonaslagoni👋 can I resolve this one? I understand the issue but can you please elaborate on how to filter out the unrequired properties. it's also my first time dealing with a typescript file

[2021-12-23 11:10] jonaslagoni commented on #538
Of course!

You can use something called a filter funktion before calling the `map()` function.

Some people like to not get the entire answer and work it out themselves, if my answers is not sufficient, just let me know 🙂

[2021-12-29 22:13] kamko opened #544 "Wrong property name in JavaCommonPresetOptions"
#### Describe the bug
`JavaCommonPresetOptions` interface in `src/generators/java/presets/CommonPreset.ts` defines:
[code]
see `hash`

but the actual code expects: `options.hashCode`
[code]
https://github.com/asyncapi/modelina/blame/master/src/generators/java/presets/CommonPreset.ts#L7
https://github.com/asyncapi/modelina/blame/master/src/generators/java/presets/CommonPreset.ts#L111

#### How to R

[2021-12-29 23:30] jonaslagoni commented on #544
Hey @kamko thanks for raising the issue!

That is indeed a bug, if you want to provide a PR fixing the issue that would be great, thanks!

That sounds like a good idea! Feel free to create a second issue highlighting the change you wish to see and why, as you did here. We are heading towards a breaking change regardless (and we are < 1) so don't worry about that 🙂

[2021-12-30 18:52] ron-debajyoti commented on #503
Hi @jonaslagoni , let me take this up and try to solve this issue !

[2021-12-31 01:14] kamko opened #546 "Allow customizing of type mappings in renderers"
#### Reason/Context
Currently when there is `number` or `double` defined in the spec we convert it to `java.lang.Double`.
This looks correct but frequently it's needed to convert these float types to `java.math.BigDecimal` (e.g. monetary API). Also, there could be more cases where you want to have a custom type in place of a predefined one.

#### Description
This mapping is being done here:
https:

[2021-12-31 18:11] kamko opened #548 "AsyncAPIInputProcessor incorrectly stores encountered schemas"
#### Describe the bug
When you have a schema that references some other schema more than once `AsyncAPIInputProcessor` fails to correctly convert all but the first property.

#### How to Reproduce
Create AsyncAPI spec with simple schemas:
[code]
For simplicity, I'll show the result from JavaGenerator. The resulting java classes contain these properties:
[code]

#### Expected behavior
The correct r

[2022-01-03 12:34] #409 closed

[2022-01-03 12:49] jonaslagoni commented on #503
No need to ask for permission, go right ahead @ron-debajyoti 🙂

[2022-01-03 13:00] #542 closed

[2022-01-03 13:33] #544 closed

[2022-01-04 13:26] jonaslagoni commented on #546
I really like this, definitely something we should look into. And it is something all languages can benefit from.

I think what makes the most sense is to right before rendering the type, check any provided mapping, whether the rendered type should be mapped to something different. This gives the most power to the user I think 🤔

i.e. for Java, we provide the mapping as:
[code]

An immediate probl

[2022-01-04 13:27] #548 closed

[2022-01-04 13:53] #400 closed

[2022-01-04 18:54] ron-debajyoti commented on #503
Hi @jonaslagoni !
I followed the same process used to fix #497. Please review the pull request and the test snapshots I added.

[2022-01-04 20:15] #503 closed

[2022-01-04 21:33] kamko commented on #546
I'm happy that you like the idea :).

The proposed mapping configuration looks fine as long as the dependency will be optional (for example in Java I would like to have full class names instead of imports).

Currently, the type mapping is part of the parent rendered (at least for java) so I think the options should be passed to the renderer and that should be responsible for all the required steps

[2022-01-05 05:56] ron-debajyoti commented on #417
Hey @jonaslagoni , I'm gonna try to solve this issue.

[2022-01-05 15:19] jonaslagoni commented on #181
Still relevant

[2022-01-05 15:20] jonaslagoni commented on #130
Still relevant

[2022-01-07 10:27] magicmatatjahu commented on #299
I think that it's still important? @smoya :)

[2022-01-07 13:30] #399 closed

[2022-01-08 01:07] jonaslagoni commented on #265
Still relevant

[2022-01-08 17:17] ron-debajyoti commented on #412
Taking this up as well.

[2022-01-10 20:41] #538 closed

[2022-01-11 10:29] #398 closed

[2022-01-11 13:09] #417 closed

[2022-01-11 13:14] ron-debajyoti opened #575 "Including a `.nvmrc` file for the project"
#### Questions

- Why we need this improvement?
Since, this project specifies the node version to be >= 14

- How will this change help?
 Some developers like me use different versions of node for different projects, hence having a `.nvmrc` file would automatically be helpful in preventing human errors :smile: .  If this file exists, we just have to load the specified version using it.

#### Descr

[2022-01-11 14:06] ritik307 commented on #575
Hi @ron-debajyoti Kindly assign me the issue I would like to work on this

[2022-01-11 14:26] jonaslagoni commented on #575
I have never had any problems or had the use for the file. However, I can see the benefits in having it 🙂

So go ahead and create a pull request, make sure to update any relevant documentation :)

[2022-01-11 14:32] ron-debajyoti commented on #575
I actually don't have node v14 set as default. So, every time I run locally, I either had to manually change the node version or just make nvm do the work, hence the suggestion.

[2022-01-11 18:11] #412 closed

[2022-01-11 19:34] ron-debajyoti commented on #413
@jonaslagoni  I guess this is solved by @mahakporwal02

[2022-01-11 19:38] #413 closed

[2022-01-11 21:29] #421 closed

[2022-01-12 14:04] jonaslagoni commented on #441
Naaah, makes sense for now.

[2022-01-12 14:04] #441 closed

[2022-01-12 21:28] #422 closed

[2022-01-13 12:45] #424 closed

[2022-01-13 12:53] ron-debajyoti commented on #187
Hey @jonaslagoni  let me take this up, even though it's not marked as a good-first-issue .

I kinda got tired of modifying docs and now want to try to solve some core issues.

[2022-01-13 12:55] jonaslagoni commented on #187
Please do! 👏

Feel free to ping me with any questions you may have 🙂

[2022-01-13 14:20] mahakporwal02 opened #581 "Assign optional/non required arguments in the constructor if provided"
#### Reason/Context
- We can add an enhancement to javascript generator to assign optional/non required arguments in the constructor during object formation.
- Constructor accept arguments and set it to required member variables. But currently it only set values for only required arguments.
- For example:
If email is non required property -
[code]
The model generated would be -
[code]
After adding

[2022-01-13 14:39] ritik307 commented on #581
@derberg @fmvilas @mahakporwal02 I would like to work on this issue

[2022-01-14 07:31] Samridhi-98 commented on #490
@jonaslagoni  I would like to work on this issue.

[2022-01-14 10:43] mahakporwal02 commented on #581
@ritik307 Apologies, didn't see your comment until now.

[2022-01-14 12:54] jonaslagoni commented on #427
This one is still relevant 🙂

[2022-01-14 13:19] jonaslagoni opened #587 "Link to advanced language usage"
#### Reason/Context
Each language has its own unique features and we need to make that clear for the simple usage examples.

We already have it for [TypeScript](https://github.com/asyncapi/modelina/blob/master/docs/usage.md#generate-typescript-models) however, we need the same links to Go, Java, C# and JavaScript. They need to link to their respective language document: https://github.com/asyncapi

[2022-01-14 13:25] ritik307 commented on #488
@jonaslagoni I would like to work on this issue

[2022-01-14 14:45] jonaslagoni commented on #488
What is required to solve this is a preset, similar to the one we have for [TypeScript](https://github.com/asyncapi/modelina/blob/master/src/generators/typescript/presets/CommonPreset.ts). That does not necessarily mean that you have to make the functionality locate in the Java common preset. I even think it makes sense to create a completely new preset such as for [Java Jackson preset](https://gi

[2022-01-14 14:57] ritik307 commented on #488
@jonaslagoni Correct me if I am wrong. What I understood is that I have to write `CommomPreset.ts` for Java, like the one present in the Typescript.

[2022-01-14 18:49] #575 closed

[2022-01-14 19:10] jonaslagoni commented on #490
@Samridhi-98 feel free to ping me if you need starting points 👍

[2022-01-15 14:20] #587 closed

[2022-01-15 15:24] Samridhi-98 commented on #490
I have implemented the un/marshalling for JS and I ran the `npm run test`, it passed all test suits.
Let me know if I need some other command to test the implementation or simply open the PR?

[2022-01-16 09:21] ritik307 commented on #488
Hi @jonaslagoni , There is an interface renderer in TypeScript un/marshall.
[code]
**Noob ques:** But the interface renderer is missing in Java so do I need to make one for Java or not. I am a bit confused since the code is in TS so if I make an interface renderer for Java won't there be a syntax that is mismatched?

[2022-01-16 11:02] Tenischev commented on #391
In `java-spring-template` I generate inner class for `allOf` where each property of aggregation is present as variable, please have a look:
https://github.com/asyncapi/java-spring-template/blob/9ba5e5a8c6f19376b2367c9803b826e88188a2d0/template/src/main/java/com/asyncapi/model/%24%24objectSchema%24%24.java#L85-L112

for support of `anyOf` or `oneOf` an empty interface will be generated:
https://git

[2022-01-16 14:22] jonaslagoni commented on #490
Hey @Samridhi-98 do you mind adding a draft PR? 🙂 That way it is easier to see what has been done.

However, a test such as this one would be necessary: https://github.com/asyncapi/modelina/blob/5622923731bab2f45c4ede416761227bd4557ce3/test/generators/typescript/preset/MarshallingPreset.spec.ts#L27

[2022-01-16 14:35] Samridhi-98 commented on #490
Yeah, sure I will draft a PR.

[2022-01-16 14:39] jonaslagoni commented on #488
As there is a huge difference between interfaces in TypeScript vs Java because TS allows you to describe types with interfaces, whereas for Java it is a contract. I.e. nothing needed for the marshalling functionality 🙂

You only need to target the preset against the [class renderer as done here.](https://github.com/asyncapi/modelina/blob/5622923731bab2f45c4ede416761227bd4557ce3/src/generators/java

[2022-01-17 09:34] ritik307 commented on #488
Got it 👍

[2022-01-17 14:38] ron-debajyoti commented on #187
Hey @jonaslagoni, could you clarify a few things for me w.r.t the issue and correct me if I misunderstood anything ?

Since currently we support input of AsyncAPI, JSON Schema and output data models of various languages like JS, Java, Go.
- For this issue, we are trying to support the input of a Typescript data model and output the existing supported language ?
- We are going to implement it by fi

[2022-01-17 14:43] jonaslagoni commented on #187
Yes, basically converting it to our internal model representation yes. So we can output it to multiple other languages 🙂

That is my suggestion yes 🙂 I.e. you "basically" do the same as the AsyncAPI input processor (and the other input processors tbh 😄) where it uses the JSON Schema input processor to convert the message payloads into the internal model representation (CommonModel) here: https://g

[2022-01-21 16:49] magicmatatjahu opened #595 "Add JSON Schemas for available options in languages"
Currently, we have a serious problem with reusing options (or rather available values etc) for languages in other projects. Of course, if one uses a library in a TS project then has a typing that validates the passed options. The problem arises in the case when we want to validate these options in runtime and not at development time, e.g. in our `cli` (related PR and comment https://github.com/asy

[2022-01-23 13:30] jonaslagoni commented on #392
Still relevant

[2022-01-24 10:05] kamko commented on #546
@jonaslagoni what is your opinion here?

[2022-01-24 15:12] albalakg opened #598 "Can you add a support for PHP documentation generator?"
#### Reason/Context
- There are a lot of websites based on PHP that wants to use it
- Could help us develop the documentation on the fly and save us time

thanks

[2022-01-24 15:13] jonaslagoni commented on #598
@albalakg do you mind giving us an example of what exactly you would like to have generated? 🙂

[2022-01-25 20:45] rmasarovic opened #599 "dart language generator"
#### Reason/Context

 **as Flutter grows it would be nice to be able to generate dart classes from async api**

[2022-01-26 15:29] jonaslagoni commented on #49
Tasklist to implement it:

- [ ] Duplicate one of the existing generators, for example, the Java generator, (I find it easier to start with that) https://github.com/asyncapi/modelina/tree/master/src/generators
- [ ] Start with empty generator options
  - https://github.com/asyncapi/modelina/blob/57948b508f9f5472f6ee14b2ac130d5e5fee9c1d/src/generators/java/JavaGenerator.ts#L17
  - https://github.co

[2022-01-26 15:30] #490 closed

[2022-01-26 15:39] mahakporwal02 commented on #49
Sure will look into it

[2022-01-26 15:42] mahakporwal02 commented on #49
Thanks @jonaslagoni :+1:

[2022-01-28 06:01] jonaslagoni commented on #488
@ritik307 can you provide the implementation for the `toJson` and `fromJson` methods? (forget presets for now 🙂)

If you take a look at what you need to do for the toJson method, we need to create a JSON object and stringify it. i.e. to achieve `return '{"streetName": "somevalue", ...}'.

This can be achieved by either using annotations and external libraries, such as we have for Jackson, or we ca

[2022-01-31 08:39] jonaslagoni commented on #546
Inheritance of a custom rendering would definitely also be an option 🤔

Right now, I am reengineering the [new core data model](https://github.com/asyncapi/modelina/pull/530), which means the renderer will not be the one determining the type anymore. The constrained data model will have already constrained to a language, [so all you need to do is](https://github.com/jonaslagoni/generator-model-sdk

[2022-01-31 09:31] #427 closed

[2022-01-31 11:39] boyney123 opened #605 "[📑 Docs]: Modelina Add Docs for Model generation other than AsyncAPI"
### What Dev Docs changes are you proposing?

I wasn't aware from the tool homepage and examples on AsyncAPI that Modelina could generate code bindings for anything other than AsyncAPI.

Looking in the GitHub repo I can see the project description "Library for generating data models based on inputs such as AsyncAPI, OpenAPI, or JSON Schema documents", which is quite clear, and also in the README I

[2022-01-31 11:43] jonaslagoni commented on #595
Hmm, maybe that is possible yea :thinking:

That way I could reuse it in the website as well. Let me see what I can do.

[2022-01-31 11:49] jonaslagoni commented on #605
Thanks for raising the issue @boyney123, I considered it as when I created the page. However, to keep it simple and directly targeted AsyncAPI community I left it out. Definitely, something that would be great to have!

[2022-01-31 12:17] magicmatatjahu commented on #595
@jonaslagoni In the future we should switch the playground in the website to the Studio, but it's a idea to update "forms" in the `modelina` repo and reuse that in other projects.

[2022-01-31 12:19] jonaslagoni commented on #595
Tbh, I feel like modelina together with docs, playground examples and use-cases need its own website at some point, time is just not right just yet 😛 Of course if you want studio to integrate modelina as well, go for it 😆

[2022-02-01 19:22] scarlier opened #607 "Immutable java objects"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
thread-safe java objects

#### Description
Please try answering few of those questions
- What changes have to be introduced?
java code generator needs to generate immutable objects

- Will this be a breaking change?
no

- How could it be implemented/designed?
a. an preset that will use a builder pattern

[2022-02-02 09:10] jonaslagoni opened #608 "Cannot process bundled JSON Schema files"
#### Describe the bug
Given the bundling process in JSON Schema, you should be able to provide the following JSON Schema.

[code]

#### Expected behavior
Expected to accurately dereference the references and to build the types.

[2022-02-02 09:24] jonaslagoni commented on #608
Potential JSON Schema replacement: https://github.com/APIDevTools/json-schema-reader

[2022-02-02 10:22] jonaslagoni opened #609 "Exclude `_` from TypeScript key enum rendering"
#### Reason/Context
Given an enum key such as `something_something` the enum renderer creates the following key `SOMETHING_UNDERSCORE_SOMETHING` even when TS fully supports `SOMETHING_SOMETHING`

#### Description

We need to add `_` to the exclusion list here: https://github.com/asyncapi/modelina/blob/71ac65a5aafd44731f7d421aec88c2ccfbfc2cad/src/generators/typescript/renderers/EnumRenderer.ts#L53

[2022-02-02 10:32] RishiKumarRay commented on #609
we have to add exclude[ ' _ ' ] ???

[2022-02-02 10:37] jonaslagoni commented on #609
Yes, excluding that we don't have to replace `_` with `underscore`, as it is perfectly fine to have among the key for an enum 🙂

[2022-02-02 10:53] jonaslagoni opened #610 "Customize data model names for JSON Schema inputs"
#### Reason/Context
Our JSON Schema input processor does not allow you to define a concrete name that a data model should have. This means that we only try to find the most optimal names through https://github.com/asyncapi/modelina/blob/71ac65a5aafd44731f7d421aec88c2ccfbfc2cad/src/processors/JsonSchemaInputProcessor.ts#L140

#### Description
A user should be able to define a name for a JSON Schema

[2022-02-03 15:38] jonaslagoni opened #612 "Testing generated code in-depth"
### What we are trying to solve?
Modelina is aiming to be the defacto standard for generating data models, whether it is to [generate them in templates](https://github.com/asyncapi/generator#overview) or somewhere else.

Imagine Modelina has to support +50 different inputs, +50 different outputs, with +100 different configurations in each output language. How do we ensure that we always produce th

[2022-02-03 17:39] Ishan-Saini commented on #609
I'd like to work on this!

[2022-02-04 13:01] ritik307 commented on #612
@jonaslagoni What I understood from the above proposal is that we are currently using snapshot matching to test our code but now we need to surpass that approach to find an approach through which we can ensure our generated output also works basically how to execute the output code base. Kindly correct me if I am wrong 😊.
The thing I am not clear with is how we will be able to handle 50+ different

[2022-02-04 13:32] jonaslagoni commented on #612
Nothing to correct, you are on point 👍

Do you mean in general how Modelina will support it? Or how you can handle that in testing?

[2022-02-04 13:41] ritik307 commented on #612
@jonaslagoni I am concerned about how we will be able to handle it in the testing part.

[2022-02-04 13:44] ron-debajyoti commented on #612
Oh, this is one of the things you asked recently in the current PR for enabling TS input!

@ritik307 like @jonaslagoni said I feel like we need to start with C#, Java, and Go first as these are the languages we currently support. We can extend the testing support gradually as we support more languages.

[2022-02-04 13:50] ritik307 commented on #612
Got it. Thanks for the help 😊

[2022-02-04 13:50] jonaslagoni commented on #612
Well, that is an engineering challenge that we need to solve. How do we want to do it exactly? Let's see what we figure out. The entire GSOC for us (or at least for me) is to try not to give you a task that you can follow to the letter.

Instead, we will try to solve it together and break it down, so you in the future can apply the principles to any engineering challenge you face 🙂

Exactly 👌 We s

[2022-02-04 14:45] magicmatatjahu commented on #595
@jonaslagoni Do you mean that problems related to reference using `$id`?

[2022-02-04 14:52] jonaslagoni commented on #595
That and references are not looked up by tooling under `definitions`, meaning it will be difficult to have separate schemas and bundle them together.

And the idea was to generate the option types through Modelina itself from the schema files so we use them as a single source of truth. Both for CLI, playground, and generator arguments.

I did a quick test here:
- [JSON Schema options](https://gith

[2022-02-04 14:54] jonaslagoni commented on #595
Of course, we could skip the type generation for now, but then I feel like it won't be worth the problems. So I know know 😄

[2022-02-04 15:02] jonaslagoni commented on #610
Never mind, you already can by using one of the following https://github.com/asyncapi/modelina/blob/7b2a33f65c06795c36c1b995334665a327068698/src/interpreter/Utils.ts#L54 🤦

[2022-02-04 15:02] #610 closed

[2022-02-07 05:53] jonaslagoni commented on #446
Still relevant.

[2022-02-07 12:11] jonaslagoni commented on #415
Still relevant.

[2022-02-07 12:13] jonaslagoni commented on #317
Still relevant.

[2022-02-07 12:14] jonaslagoni commented on #317
As each preset can have multiple different focuses, I dont think we need to decide on anything specific. Gonna close this for now.

[2022-02-07 12:14] #317 closed

[2022-02-07 12:14] jonaslagoni commented on #256
Still relevant.

[2022-02-07 12:14] jonaslagoni commented on #108
Still relevant.

[2022-02-07 12:15] jonaslagoni commented on #171
Still relevant.

[2022-02-07 14:46] michaelnurenberg opened #615 "can't create property of type Dictionary with c# generator"
#### Describe the bug
C# generator not creates properties with types Dictionary<>.

#### How to Reproduce
next file need to be generated from yml async api definition:

public class Node
    {
        public string Type { get; set; }
        public Guid NodeId { get; set; }
        public int NodeNumber { get; set; }
        public string NodeData { get; set; }
        public Dictionary<string, ob

[2022-02-07 14:46] michaelnurenberg opened #616 "can't create property of type Dictionary with c# generator"
#### Describe the bug
C# generator not creates properties with types Dictionary<>.

#### How to Reproduce
next file need to be generated from yml async api definition:

public class Node
    {
        public string Type { get; set; }
        public Guid NodeId { get; set; }
        public int NodeNumber { get; set; }
        public string NodeData { get; set; }
        public Dictionary<string, ob

[2022-02-07 14:58] jonaslagoni commented on #616
Closing this one as duplicated issues was created: https://github.com/asyncapi/modelina/issues/615

[2022-02-07 14:58] #616 closed

[2022-02-07 18:11] smoya commented on #108
Currently, supported inputs don't really support inheritance (we could discuss if JSON Schema somehow does, but it doesn't really do).

However, if we ever support any other language as input (like PHP for example), the generators will need explicit info about both a class extending and/or implementing an interface. See the following examples:

Class Iinheritance:
[code]

Implementing an interface

[2022-02-08 11:31] #609 closed

[2022-02-08 11:37] jonaslagoni commented on #609
@all-contributors please add @Ishan-Saini for code and test

[2022-02-08 11:58] Samridhi-98 commented on #446
@jonaslagoni  I would like to work on it.
Will you  please explain the issue more and where to start?

[2022-02-08 12:09] jonaslagoni commented on #446
Awesome @Samridhi-98!

The [Csharp preset that add serializer capabilities to the data models](https://github.com/asyncapi/modelina/tree/master/examples/csharp-generate-serializer) uses the [following dependencies](https://github.com/asyncapi/modelina/blob/b819c6fff9337005c6837be81daadb23901cfc83/src/generators/csharp/presets/JsonSerializerPreset.ts#L250):

- System.Text.Json
- System.Text.Json.Se

[2022-02-08 12:16] Samridhi-98 commented on #446
Okay, I got it.
I will check and let you know 😊

[2022-02-08 18:07] Samridhi-98 commented on #446
@jonaslagoni  I found this [article](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/) and also tried running the sample example on online CSharp compiler and got the error mentioned below. 🙂

![image](https://user-images.githubusercontent.com/54466041/153048888-dfddd723-ed13-44fb-acba-acbf89ccf445.png)

[2022-02-09 12:52] jonaslagoni commented on #108
I don't think we should focus on it now, as it seems like a feature and not a complete rewrite that is required to fully make this work. But good points to remember for the future 👍

[2022-02-09 13:38] smoya commented on #108
Maybe you want to pop out this from [Version 1](https://github.com/asyncapi/modelina/milestone/3) milestone?

[2022-02-09 15:55] Samridhi-98 opened #625 "[📑 Docs]: Update JavaScript.md with un/marshal function"
### What Dev Docs changes are you proposing?

**Description**
To let the user know that `un/marshal feature` of `javascript` is now available to use.

- [ ] Upate `docs/languages/JavaScript.md`.
- [ ] Add examples for this feature in example folder.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-09 15:59] Samridhi-98 commented on #625
@jonaslagoni  If you approve of this issue, I would like to work on this issue.

[2022-02-09 20:09] jonaslagoni commented on #446
How do you suggest we let the users know of this dependency? 🙂

[2022-02-09 20:10] jonaslagoni commented on #625
Don't need to approve anything, solid suggestion 👍

[2022-02-09 23:29] jonaslagoni commented on #615
How I would define the message payload in an AsyncAPI schema is the following:

[code]

If you want to define more accurately the value for the dictionary, use:
[code]

Otherwise, as with `true` you define it as allowing everything. This will eventually be supported.

### Workaround
But, that is in the future. A workaround you could do right now is leveraging the preset hooks for customization of

[2022-02-10 07:12] Samridhi-98 commented on #446
In the documentation of CSharp, we can add an `important note` where we will provide info for this.

[2022-02-10 07:41] jonaslagoni commented on #390
Still relevant, waiting on #530

[2022-02-10 07:41] jonaslagoni commented on #389
Still relevant, waiting on #530

[2022-02-10 07:41] jonaslagoni commented on #388
Still relevant, waiting on #530

[2022-02-10 07:54] jonaslagoni commented on #446
Do you mind providing a PR for this?

Keep in mind we should use the same setup, regardless of whether it's a C# preset that have certain dependencies, or Java 🙂

[2022-02-10 08:02] Samridhi-98 commented on #446
Sure, will do it🙂

[2022-02-10 13:08] magicmatatjahu opened #628 "Model representation in the form of Node in AST"
As I'm the "author" of the presets, I see that I made a big mistake of treating them as middlewares which are supposed to return the changed content (as a string) and not as data (in meaning of the structure) that is later changed to the correct model in the given language (class/interface/structure etc).

It seems to me that we should move to representing a given model as a node in a typical AST.

[2022-02-10 13:46] magicmatatjahu commented on #628
interesting tool for AST processing https://github.com/antlr/antlr4

[2022-02-11 11:43] jonaslagoni commented on #628
Good proposal, thanks for taking the time @magicmatatjahu. I would suggest we try to dial down into how this will affect the UX of presets through the following use-cases (feel free to add more).

Let's keep it in TypeScript:
1. Modifying property visibility (from `private` to `public`) and removing getter and setters.
2. Adding a new function per property
3. Modifying the getter and setter functi

[2022-02-11 13:16] jonaslagoni commented on #628
Remember, in the hooks, you generally don't know anything about what properties may be there. So try with the abstraction of only knowing you have the internal model with a map of properties 🙂

Also, the `body` is important to clarify, because would you need to build the body of the function with AST as well? Or how would you do that?

[2022-02-11 14:02] magicmatatjahu commented on #628
I'm giving examples of how it could look like for a model in TS, I think that if someone understands the idea and knows another language, they know how it could look in another language :)

I have that problem and I raise it in the one of minuses given solution:

The problem is that here we are getting slowly into the so-called expression nodes, i.e. loops, assignments, mathematical evaluations et

[2022-02-11 14:10] magicmatatjahu commented on #628
Edit: There is always an option to add such nodes (I mean nodes for the function/method body) successively, but the body of the function/method should then be either a string or a AST node :)

[2022-02-12 18:03] #446 closed

[2022-02-13 11:10] #488 closed

[2022-02-14 14:08] jonaslagoni opened #636 "Improvements to Modelina playground"
#### Reason/Context
We should create a more coherent playground that wraps the playful nature as well as being the main place to try out different setups with Modelina.

There are so many different improvements we can do so I am just gonna list a bunch that came to mind:

- Sharing modeling setup through queries, i.e. one could give you the link `modelina?generator=typescript&input=A4Gabuqwj...` a

[2022-02-14 14:45] jonaslagoni opened #637 "Modelina website"
### Reason/Context
As #636 focuses on the playground for Modelina, we need to also take a look at how we present Modelina as a whole. This probably means separating https://www.asyncapi.com/tools/modelina into it's own website.

This means that we will be able to show documentation, examples, playground, and roadmap for Modelina in one platform.

#### Documentation
It is important that everything

[2022-02-14 15:04] Samridhi-98 commented on #637
@jonaslagoni I really like the issue and would like to contribute to it. But before going ahead I have a query,  which frontend framework are we going to use for its implementation?

[2022-02-14 22:54] jonaslagoni opened #640 "Make it easier to access the raw types from code generators"
#### Reason/Context
If you create templates for the AsyncAPI generator, you often find yourself in the need of knowing the payload type of a message.

For example, if I want to generate something like:
[code]

I would need to template it like so:

[code]
Currently, accessing the message type, if models are generated with Modelina, is not that straightforward, especially if we talk about primitive

[2022-02-14 23:01] jonaslagoni opened #641 "Show how to integrate Modelina in an AsyncAPI generator template"
#### Reason/Context
Modelina was originally designed to work together with the AsyncAPI templates/generator to ease the pain of figuring out how to render a payload in an AsyncAPI document.

Currently, it is a wild west how Modelina can be used together with a template for code generation and there are probably multiple ways to do it. However, suggesting one specific (as optimal as possible) would

[2022-02-14 23:03] jonaslagoni opened #642 "Show how to integrate Modelina in a website"
#### Reason/Context
We currently have our playground: https://www.asyncapi.com/tools/modelina

However, and in a similar fashion, we need to have an example that shows how you can integrate Modelina into a website to ensure the integration is always possible.

It could probably be a similar setup as @derberg setup for the parser: https://github.com/asyncapi/parser-js/blob/b8d081988d0e3f599c6f62ffb

[2022-02-15 11:03] ron-debajyoti commented on #636
This sounds really interesting. I think I want to take this proposal as my project.

[2022-02-15 12:24] smoya opened #643 "[Go] support `additionalProperties` during json Marshal"
#### Reason/Context
JSON Schema [`additionalProperties`](http://json-schema.org/understanding-json-schema/reference/object.html#additional-properties) are allowed properties that we don't know the field name but only their schema.

That means that we can't predict which extra fields will the raw JSON data contain, meaning the structs can't have a generated field per each of those additional proper

[2022-02-15 12:39] #625 closed

[2022-02-15 16:58] jonaslagoni opened #644 "Research and document migrating from other tools"
#### Reason/Context
There are many other tools on the market that can help you generate models from inputs and switching to Modelina can be quite the big step. So we should prepare for such cases and ensure we know exactly the pros and cons of switching and also learn where we are missing features!

Example projects:
- Generating POJO from JSON schema https://www.jsonschema2pojo.org/
- Generating

[2022-02-15 17:47] jonaslagoni commented on #643
With the following JSON Schema documents:

// JetStreamConfig represents a JetStreamConfig model.
[code]
I have manually tried to model the functionality, and currently reach the following implementation:
[code]

[2022-02-15 19:32] jonaslagoni commented on #460
Still relevant

[2022-02-15 19:33] jonaslagoni commented on #462
Still relevant

[2022-02-16 10:53] felixjung opened #646 "Add .prettierrc to project"
#### Reason/Context

When working on a custom Go preset, ESLint was complaining about listing rules I was violating. Somehow I couldn't configure VSCode's prettier/formatter integration to stop formatting code when there is no prettierrc.

Overall I think it would help contributors quite a bit to have prettier on the project. Having to manually deal with formatting is a pain and prettier is pretty

[2022-02-16 11:14] felixjung opened #647 "Render Go enum values"
#### Reason/Context

Currently, Modeling seems to not render the values an enum type can take in Go.

For example

[code]

will only result in

[code]

While there are different approaches on how to deal with enums in Go, modelina could provide a simple standard approach, where the possible values are defined as constant strings. This would look as follows.

[code]

#### Description

- Update the

[2022-02-16 13:20] felixjung opened #648 "Generate descriptions as comments in Go"
#### Reason/Context

In Go it's standard practice to write godoc comments for types and struct fields. These get picked up by tooling etc.

Currently, Modelina only renders comments for enums and structs. The comments always follow the same template of `// ${formattedName} represents a ${formattedName} model.` In my personal opinion these do not add a lot of value.

Instead, it would be nice if Mo

[2022-02-16 14:00] jonaslagoni commented on #646
Normally I would not like the idea of having two competing libraries each working on a specific aspect, it just complicates things in my opinion.

Can you give a concrete example with eslint that your could not get to work in VSCode, and I can see if I can replicate it? 🙂

[2022-02-16 15:12] jonaslagoni commented on #646
There are a setting in VSCode that enables auto-formatting on save, I always have that off and let eslint handle the formatting ( i.e. you can run `npm run lint:fix` to fix most common format issues https://github.com/asyncapi/modelina/blob/c9980fc8a48dda87bf2e575c23719bbe8fb7ad57/package.json#L81)
![billede](https://user-images.githubusercontent.com/13396189/154293802-38d88c6f-13b9-4877-a024-b1a1

[2022-02-16 16:30] felixjung commented on #628
Ran into this problem today, seeing there was a PR with a preset for JSON tags in Go and my PR adding a preset to render descriptions as comments -- how do you get both JSON tags on a struct and the comments?

I also thought that an AST being passed through a set of modifier functions would be the solution.

I'm somewhat afraid of a huge effort to have ASTs in TypeScript for all the languages you

[2022-02-16 19:13] Samridhi-98 commented on #637
I would like to go with Nextjs mostly because of server-side rendering and better rendering features.

[2022-02-17 13:11] magicmatatjahu commented on #628
@felixjung Thanks for that comment!

Just because a language has AST support does not mean that we should generate models for that language (e.g. Go) in the same language (Go).

The problem is (as you noted) the very existence of the parser. Even though we currently have a parser written in go, it still has (maybe I'm exaggerating) 1/4 of the capabilities of the current parser written in JS. Take

[2022-02-18 11:41] jonaslagoni opened #652 "Log more to debug"
#### Reason/Context
Currently, we don't log much with Modelina, but I think it would be a good idea to start enabling better debug logging.

A way to do this is to introduce something like the following (Not sure it works, taken from https://www.youtube.com/watch?v=R3xoMCjP3Tk?t=852)

[code]

That way we can start adding `@logDebug` to functions.

Only potential problem is they are experimental, n

[2022-02-19 16:17] jonaslagoni commented on #460
We need to create a list of reserved keywords for Go, as seen here for Java: https://github.com/asyncapi/modelina/blob/master/src/generators/java/Constants.ts

All of this functionality is somewhat already located for Java as you can use it as a reference 🙂

Next we need to use it for our naming convention: https://github.com/asyncapi/modelina/blob/10aca3b10d985596241761f8976697a72dc360e1/src/gene

[2022-02-20 16:38] akshatnema commented on #646
@jonaslagoni I agree that we will get wrongly formatted code. It is because we haven't set any standards to format the code in our repository. Every IDE or every user has a different perspective and tool to format the code. If we set some standard using `.prettierrc` that uses `npm run prettier-format` command to format the code in the way written in `.prettierrc`.

ESlint is used to fix syntax er

[2022-02-21 15:49] ritik307 commented on #605
@boyney123 @jonaslagoni I would like to work on this issue 😊

[2022-02-21 18:24] ritik307 commented on #608
@jonaslagoni I would like to work on it.
Will you please explain the issue more and where to start?

[2022-02-23 13:57] ron-debajyoti commented on #532
@jonaslagoni let me work on this since this looks related to #187

[2022-02-24 16:05] ron-debajyoti commented on #532
Hey @jonaslagoni since we're going to create a new JSON generator, it has to extend `AbstractGenerator` and the underlying abstract functions right ? So for starters, I am not thinking of adding preset support or anything right now, just generating a JSON Schema file from the `CommonInputModel`.

Also how are we differentiating between `generateCompleteModels()` and `generate()` for this case ?

P

[2022-02-26 10:33] jonaslagoni commented on #532
Yes. An important difference between existing generators and a JSON Schema one, is that you only need one, regardless of whether it's an [enum, object](https://github.com/asyncapi/modelina/blob/10aca3b10d985596241761f8976697a72dc360e1/src/generators/typescript/TypeScriptGenerator.ts#L85).

You also don't have any formatting of property names or reserved keywords as everything is wrapped in `"`, so

[2022-03-02 12:53] ibernabeudev commented on #647
Hi Felix, i just open a PR for this issue.

https://github.com/asyncapi/modelina/pull/662

[2022-03-02 18:04] #460 closed

[2022-03-03 17:07] #187 closed

[2022-03-05 12:21] slowikowskiarkadiusz opened #668 "Improve C# support for property types"
#### Reason/Context
1. Support for collectionType = 'List'
The motivation here would be allowing to choose a generic collection type, just as it's done for Java already. Arrays are usually used in very specific cases
2. Support for more property types
CSharpRenderer supports currently 5 property types, while Java supports 17.

#### Description
1. It can be resolved by adding a simple condition in

[2022-03-05 12:35] slowikowskiarkadiusz commented on #668
And I have already made a PR for it

[2022-03-05 13:06] slowikowskiarkadiusz opened #670 "Utilising shorthands for accessors in CSHARP_DEFAULT_CLASS_PRESET"
#### Reason/Context
Currently, each property is generated like this
[code]
which generates 6 times more code than it's necessary. C# allows for such a shorthand:
[code]
Way less code, the result the same

#### Description
I don't think it's a breaking change. Generated data models will be able to be used the same way they currently are.
The resolution for it would include modifying the `src/genera

[2022-03-05 13:09] slowikowskiarkadiusz commented on #670
I've made a PR for this now

[2022-03-08 13:02] jonaslagoni commented on #670
With the shorthand notation, is it still possible to completely overwrite the setter implementation? Say you want to add some validation rules to what is allowed to be set as values, will it still support something like this:
[code]

[2022-03-08 22:19] jonaslagoni commented on #489
Closing as we have basic implementation.

[2022-03-08 22:19] #489 closed

[2022-03-09 06:53] slowikowskiarkadiusz commented on #670
Unfortunately it wouldn't be possible. For some reason if you want to include any logic in the getter or in the setter, you have to declare a separate field on which you're going to operate (so pretty much use the current way of generating properties). It happens rather rarely so I think it makes sense to not make it default

Yes

[2022-03-09 18:02] ritik307 commented on #607
@scarlier I would like to work on this

[2022-03-11 14:25] mcturco opened #680 "Update README file with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 14:26] mcturco commented on #680
/gfi design

[2022-03-13 08:43] #581 closed

[2022-03-13 08:47] Samridhi-98 commented on #483
@jonaslagoni  Is this issue still valid?
I would take this issue,

[2022-03-13 08:50] ritik307 commented on #256
@jonaslagoni @magicmatatjahu i would like to work on this issue 😊

[2022-03-14 11:38] jonaslagoni opened #681 "Preset options are not typed"
#### Reason/Context
How the generic system works currently for presets results in options being forced to `any`. Each language has its own generic setup but should be pretty quick to change. Each preset should already have the options defined, just never used.

For example for TS we need to change [TypeScriptPreset](https://github.com/asyncapi/modelina/blob/master/src/generators/typescript/TypeScr

[2022-03-14 11:43] jonaslagoni commented on #256
Great @ritik307! Feel free to ping us if have any questions.

[2022-03-22 07:59] aazammazaa opened #685 "Python"
#### Python with FastAPI or Django
Please try answering few of those questions
- Why we need this improvement?
- Python is also an popular in ML and AI and RL training in real life example easier
- How will this change help?
- help lots of iot doers
- What is the motivation?
- MQTT

#### Description
Please try answering few of those questions
- What changes have to be introduced?
- Will this be a

[2022-03-22 10:59] #483 closed

[2022-03-22 16:59] quadrrem opened #687 "Exclude _ from Java key enum rendering"
#### Reason/Context
Given an enum key such as `something_something` the enum renderer creates the following key `SOMETHING_UNDERSCORE_SOMETHING` even when Java fully supports `SOMETHING_SOMETHING`

#### Description
The same issue was already fixed for TS with this ticket https://github.com/asyncapi/modelina/issues/609.
Maybe it's possible to fix it in a more generic way, so that it does not have t

[2022-03-23 08:22] voxpelli commented on #360
Still relevant :)

[2022-04-04 17:00] #680 closed

[2022-04-07 13:26] Samridhi-98 commented on #681
Hey, @jonaslagoni I would like to work on the TypeScript Generator for this issue 🙂

Also, should we convert the above checklist into multiple issues or simply link the PR with this one?

[2022-04-07 14:03] jonaslagoni commented on #681
🎉

Up to you @Samridhi-98, however, you feel like doing it 🙂

[2022-04-09 09:00] Polygens opened #700 "[C#] Generated enum extension methods lead to invalid references"
#### Describe the bug
Invalid enum code is generated when using the C# code generation with `CSHARP_JSON_SERIALIZER_PRESET`
https://github.com/asyncapi/modelina/blob/ef4c0b739f31893cd1320bc1e55c4f9dbc746eea/src/generators/csharp/renderers/EnumRenderer.ts#L20 seems to be conflicting with
https://github.com/asyncapi/modelina/blob/51062c1d74e6bf0514619510e0e6f413d73bf4e3/src/generators/csharp/presets

[2022-04-09 09:23] Polygens opened #701 "[C#] Generated JsonSerializer does not compile with .NET 6"
#### Describe the bug
Code does not compile when generated using the C# code generation with `CSHARP_JSON_SERIALIZER_PRESET`

[code]

#### How to Reproduce
The issue is a known breaking change in .NET 6 further explained here: https://docs.microsoft.com/en-us/dotnet/core/compatibility/serialization/6.0/jsonserializer-source-generator-overloads

#### Expected behavior
Generated code can compile. No

[2022-04-09 17:08] Samridhi-98 opened #702 "Adapt TypeScript generator"

[2022-04-11 13:14] #647 closed

[2022-04-11 16:10] Samridhi-98 opened #707 "Adapt C# generator"

[2022-04-11 16:10] Samridhi-98 opened #708 "Adapt JS generator"

[2022-04-11 16:12] Samridhi-98 opened #710 "Adapt Go generator"

[2022-04-11 16:12] Samridhi-98 opened #711 "Adapt Java generator"

[2022-04-11 19:40] #708 closed

[2022-04-12 12:17] #670 closed

[2022-04-12 17:16] #711 closed

[2022-04-19 10:15] #710 closed

[2022-04-19 10:58] jonaslagoni commented on #546
@kamko I wanted to get your perspective on a solution that soon will live in `next`. With the upcoming change you would be able to define the custom mapping as such:

[code]

Where `Number` is one of the core model types. Through this, you can easily add dependencies and conditional type rendering based on the model that is being generated.

For your Java project you can then easily do:

[code]
Wo

[2022-04-19 12:10] kamko commented on #546
That looks good! - it fits the original issue I had.

The `Number` is a set of fixed types or it will be for formats also (e.g. type: string, format: UUID)?

Would it be possible to also pass the "property/field" (don't know the naming) that is currently being mapped to the method?

My thinking is that I would like to have custom mappings based on some additional data linked to specific property.

[2022-04-20 05:02] #707 closed

[2022-04-20 10:55] jonaslagoni commented on #546
`Number` is one of the [core abstracted type](https://github.com/asyncapi/modelina/blob/next/docs/processing.md#the-meta-model), where formats, in the long run, would form something like `sub types` within them. At least that is the idea, but not a focus at the moment.

I am looking into that yes, as part of the `context` parameter, which the `renderer` is part of.

[2022-04-22 09:10] smoya commented on #106
Still relevant imho cc @jonaslagoni

[2022-04-25 13:00] jonaslagoni opened #726 "Prepare support for AsyncAPI 2.4"
#### Reason/Context
The new release of the specification is right on the doorstep, and we need to prepare for it.

If it is your first time contributing, please read [how to set up your environment](https://github.com/asyncapi/modelina/blob/master/docs/development.md#environment-setup) as well as [how to contribute](https://github.com/asyncapi/modelina/blob/master/docs/contributing.md).

Todo list

[2022-04-25 13:35] jonaslagoni commented on #701
@Polygens do you mind creating a PR fixing this?

I am assuming this is backward compatible with older versions?

[2022-04-26 12:15] #701 closed

[2022-04-26 12:17] jonaslagoni commented on #681
Awesome @Samridhi-98!

[2022-04-26 12:17] #681 closed

[2022-04-26 12:18] jonaslagoni commented on #685
Related to https://github.com/asyncapi/modelina/issues/49 and already underway in https://github.com/asyncapi/modelina/pull/604

[2022-04-26 12:18] #685 closed

[2022-04-27 02:15] jonaslagoni commented on #701
My hope is we can avoid introducing multiple generators for specific versions. We might be forced to do this through some kind of option for the generator. Have yet to encounter the advanced use-case for it that require a solution, but I bet it will come soon 😅

[2022-04-27 13:28] #687 closed

[2022-04-29 13:31] jonaslagoni commented on #726
Solved in https://github.com/asyncapi/modelina/pull/733

[2022-04-29 13:31] #726 closed

[2022-05-02 13:17] Samridhi-98 commented on #637
I would like to work on this issue as part of the Mentorship program. 😊

[2022-05-02 16:22] Leamsi9 opened #744 "Implement PHP generator"
#### Reason/Context
PHP 8.1 has recently added native Enums meaning porting the modelina library should be straightforward.  Async PHP and EDAs are growing rapidly in the PHP world, from Fibers being incorporated into the language to implementations like Swoole, Roadrunner, Amp, ReactPHP and RevoltPHP expanding, and the top PHP frameworks (Laravel + Symfony) incorporating async php into their ecos

[2022-05-02 16:45] jonaslagoni commented on #744
Gotta make a dedicated readme for contributing new generators at some point in the future, but I guess that list is good place to start 👍

Is it something you would like to contribute @Leamsi9? Maybe [even champion](https://github.com/asyncapi/modelina/blob/master/docs/champions.md#language-champions) it afterward?

I would be happy to help in any way I can 🙂

[2022-05-02 17:30] Leamsi9 commented on #744
Very tempted indeed! Some big life changes imminent so not sure about my availability yet, but definitely keen and I can at least make a start,  and maybe get some other PHPers onto it. I have a bit of time this week, who knows, maybe I can finish a first draft! And yes I would be very happy to become a language champion and help maintain and mobilise support in the PHP community, as long as I can

[2022-05-02 17:46] jonaslagoni commented on #744
That would be awesome 🔥

Absolutely, a minimal first draft is all that is needed so it can be improved over time 👍

Of course, that is all in your control 👍 Do you feel like that is missing in the documentation?

Any specifics you refer to? 🤔

[2022-05-02 18:36] Leamsi9 commented on #744
Haven't looked in detail, I'm just aware that people have gone before me and I want to build on their learning, but maybe it's all been incorporated into the code I will be porting so that's fine. And yes, I think it would be good to add to the readme something about off-boarding, and what the expectations are in terms of time, otherwise some might assume something more onerous.

For now, count me

[2022-05-02 19:57] jonaslagoni commented on #744
You can see all the specific champions in the [codeowner file](https://github.com/asyncapi/modelina/blob/master/CODEOWNERS) and which areas they are responsible for 🙂 We are also all on Slack if you want more instant messaging 😄

True, [suggested some small updates](https://github.com/asyncapi/modelina/pull/745), feel free to review it 👍

No need to register or anything like that, by contributing

[2022-05-03 03:23] darp99 commented on #636
This sounds interesting. I would like to work on this as part of mentorship program

[2022-05-03 12:04] Dule-mart commented on #605
Hello, @boyney123 and @jonaslagoni, if this issue is still open, would it be assigned to me so I could work on it if @ritik307 has not yet fixed it.

[2022-05-07 00:13] #125 closed

[2022-05-07 19:06] slowikowskiarkadiusz opened #748 "[C#] Don't render value-typed properties as nullable"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
  - To utilize the 'required' list in the model

- How will this change help?
  - It's going to prevert people from putting nulls into required properties, which type doesn't allow nulls by default.

- What is the motivation?
  - I've seen something like that done for TypeScript, so yeah.

#### Descript

[2022-05-07 19:09] slowikowskiarkadiusz commented on #748
Made a PR for it :)

[2022-05-09 17:21] mcturco commented on #637
@jonaslagoni can we also add the "🎨 design" label to this issue? 🙏 It will help me create a list of issues that need a design contributor

[2022-05-10 06:43] derberg commented on #605
@Samridhi-98 @ron-debajyoti @magicmatatjahu hey folks since Jonas is out for few days and you are also codeowners, maybe you have some ideas for @Dule-mart

IMHO it is completely fine to add a paragraph of info to https://www.asyncapi.com/tools/modelina that Modelina supports more than AsyncAPI. There are OpenAPI and other examples here https://github.com/asyncapi/modelina/tree/master/examples so

[2022-05-10 07:41] magicmatatjahu commented on #605
We can add information about other supported formats other than AsyncAPI, but let's not extend this issue with a features from https://github.com/asyncapi/modelina/issues/636 - here we should only do description updates.

[2022-05-10 07:52] RobinGoussey opened #749 "Java Template: json schema union is generated as object"
#### Describe the bug
In our schema, we have multiple types, that are nullable types, like a string.
Eg.
[code]
What we expected would happen:
  private String username;

What we got
  private Object username;

#### How to Reproduce
We generate our file like this:

[code]

#### Expected behavior
Making a string nullable, should leave it as a java String, instead of turning it into an object.

[2022-05-10 07:58] magicmatatjahu commented on #749
@RobinGoussey Hello! Do you wanna create fix for that? It should be fixed here in this place https://github.com/asyncapi/modelina/blob/master/src/generators/java/JavaRenderer.ts#L56

[2022-05-10 08:00] derberg commented on #605
yes yes, definitely #636 is separate work, related to some coding as part of AsyncAPI Mentorship

in this issue we talk about simple fix contribution to docs, I guess just another paragraph after this one -> https://github.com/asyncapi/website/blob/56536dee006c95f6271e118a13e2ebe615110af5/pages/tools/modelina.js#L253-L255

[2022-05-10 08:50] iipranavii commented on #637
I am interested in working on this Project as a UX UI designer!

[2022-05-10 09:07] ayushpaharia commented on #637
Hello I'm interested in taking on this as a project as part of the Mentorship program.
Can I be pointed to some resources I get started with?
I'm a Frontend engineer and I also dabble in UI|UX design.

[2022-05-11 07:23] iipranavii commented on #637
I have a Basic Wireframe in Mind
Would like to know more about the use case to create an elaborate design
@jonaslagoni @mcturco
![image](https://user-images.githubusercontent.com/67915580/167792258-e777fbd4-e454-4d09-b261-4ba7e1a33d6f.png)

[2022-05-11 19:48] mcturco commented on #637
Can I be pointed to some resources I get started with?
I'm a Frontend engineer and I also dabble in UI|UX design.

Hi @ayushpaharia! Thank you for expressing your interest. I think this issue is small enough for one designer and one developer. I believe we have @iipranavii covered on the design side as they asked first, and looks like @Samridhi-98 would cover the development side. If @Samridhi-98

[2022-05-11 20:37] ayushpaharia commented on #636
Hey @**jonaslagoni** -

I'm an experienced full-stack engineer and also have relevant experience in UI and UX.

### Ideas
1 - Sharing modeling setup through queries can be implemented with work on backend APIs to queries. As in the generated code would be saved somewhere. Which can be populated onto someone who visits a specific URL.

2 - Download models directly from the playground - **_Can you e

[2022-05-12 05:56] iipranavii commented on #637
Awesome! I'd start designing some lofi frames, and some ideas that I have in mind for the flow for the home page, and for the documentation design.

Would also like to sync with @mcturco and @Samridhi-98 to ideate and work on a little timeline for the website!

[2022-05-13 10:01] Dule-mart commented on #605
After going through the comment here and the issue raised, I was thinking the paragraph should be added before this "Sometimes you just want to generate data models for your payload."

Since that paragraph will be defining Modelina as a "Library for generating data models based on inputs such as AsyncAPI, OpenAPI, or JSON Schema documents"

I'm adding the paragraph before but if it is not ok, I ca

[2022-05-14 15:39] iipranavii commented on #637
Hey there, I have a mid-fi mockup in the works, would love to get feedback
@mcturco @Samridhi-98 @jonaslagoni

 --

![image](https://user-images.githubusercontent.com/67915580/168438597-69cbbee3-6b7b-4ee3-9349-2b8eef45940d.png)

[2022-05-14 17:21] Samridhi-98 commented on #637
Looks good, nice work @iipranavii 😁

[2022-05-14 19:37] ron-debajyoti commented on #605
I think this works great. But it's also important to note that most of the supported schemas are AsyncAPI, JSON, and OpenAPI. The support for TypeScript files  is still limited and is a work in progress :sweat_smile:

This works fine from my side.

[2022-05-14 20:33] ron-debajyoti commented on #636
Hi @jonaslagoni!

As mentioned earlier, I definitely want to finalize working on this project.

I'll be implementing the ideas mentioned based on the following priority order :

1.  _Modelina does not only support AsyncAPI as input, but multiple others_ :  I feel that this should be the top priority because right now Modelina has evolved much more than just supporting AsyncAPI specs and rn support

[2022-05-16 09:55] jonaslagoni commented on #296
Hmm, I guess we arent no 🤔

[2022-05-16 10:07] RobinGoussey commented on #749
@jonaslagoni
The behaviour of
[code]
should not have changed, and will thus be an object[]. Which is the behavior it had before. As in test test('Should render mismatching tuple types as Object', () => { in JavaRenderer.spec.ts

[2022-05-16 10:15] jonaslagoni commented on #749
I know, I just want to make sure [that the upcoming change](https://github.com/asyncapi/modelina/tree/next) will work as "expected". So just want to dig a bit deeper 🙂

[2022-05-16 10:33] RobinGoussey commented on #749
I have no clue on what will happen if the upcoming changes, and my PR come together. I hadn't really considered the uniion of 2 types + nullable. As I think currently in Java, all types are nullable.

So maybe I need to rework, but how do I best do this then? Do I create merge your branch into mine, and create a PR to your branch?

[2022-05-16 11:09] jonaslagoni commented on #749
You don't have to worry about the next branch, ill make sure to adapt it appropriately 🙂 I will take a look at the PR later today or tomorrow 👍

[2022-05-16 21:09] mcturco commented on #637
This is looking great, @iipranavii! I would try to use the Modelina blue color as the accent/button color and use that as a base to create more shades to make up the color palette for this website. You can pair that with the shades of gray that are listed in the brand guidelines as well! So maybe refrain from using that yellow color, just a thought. But eager to see more! 😍

[2022-05-17 06:27] iipranavii commented on #637
Thank you for the feedback @mcturco, I agree with you, and I did change the button color that day itself, (even I didn't like it as much either)
I will be following the brand guidelines and creating a shade card for the modelina colors!
Will update soon with further sections of the website too!

[2022-05-17 16:06] imabp commented on #637
This is so nice. I really liked the colors.
Thanks @iipranavii
I feel @mcturco , we got the directions for choosing our color scheme from this.

[2022-05-17 16:07] imabp commented on #637
I still, feel something missing about the editor there, can we check on that, may be a box-shadow, or a border will make it look more appealing.
cc: @iipranavii

[2022-05-18 13:29] #748 closed

[2022-05-18 14:26] jeremylvln opened #754 "[TS] Nullable objects lose their object type"
#### Describe the bug
When an object is nullable (i.e. having a `oneOf` with a null item and an object item), the TypeScript generator will _lose_ the object type by outputting `type MyObject = null | object`.

#### How to Reproduce
Considering the following AsyncAPI spec:

[code]

The previous snippet is the example spec AsyncAPI provides, with a `Address` schema added. The `UserSignedUp` payload

[2022-05-23 10:47] #700 closed

[2022-05-24 01:59] jonaslagoni opened #757 "Cannot be used for browsers"
#### Describe the bug
The website cannot use the newest version of modelina, because of the dependency `typescript-json-schema` as it uses `ts-node` which out of the box is not compatible with CommonJS.

#### Expected steps to solve

Might be as easy as:
1. Add a specific website example we can use as test to ensure it always works going forward.
2. My assumption is that we can add a configuration

[2022-05-24 07:50] derberg commented on #757
hint for the test:
- we do it already in parser -> https://github.com/asyncapi/parser-js/blob/master/test/browser_test.js
- puppeteer is the key, but I've heard Microsoft has alternative project that gets some attention, so maybe you wanna use it
- simple HTML https://github.com/asyncapi/parser-js/blob/master/test/sample_browser/index.html
- and then just npm script that starts the server before s

[2022-06-07 10:32] jonaslagoni commented on #612
Still relevant.

[2022-06-12 10:07] jonaslagoni commented on #615
Still relevant, and will be solved with the new core model.

[2022-06-27 08:10] jonaslagoni commented on #456
still relevant

[2022-06-28 00:18] #457 closed

[2022-06-28 00:18] #453 closed

[2022-06-29 00:14] #452 closed

[2022-06-29 00:14] #449 closed

[2022-06-29 16:58] jonaslagoni opened #780 "Modelina config file"
#### Reason/Context
This is probably one of the most important features to this date, because this will enable better integrations across tools. Because while Modelina is highly customizable, it is almost impossible for CLIs and other tools to offer those advantages because many of the configs are callbacks where you can overwrite logic. Therefore I think it would make sense to add configuration f

[2022-07-02 12:31] artur-ciocanu opened #784 "Java Generator: Java Description Preset file has a typo"
#### Describe the bug
Java Description Preset file has a typo in its name. It is named `DescriptioPreset.ts` while it should be named `DescriptionPreset.ts`.

#### How to Reproduce
None. This is just a small typo.

#### Expected behavior
Java description preset should be named `DescriptionPreset.ts`

[2022-07-02 13:05] artur-ciocanu opened #786 "Java Generator: "switch" and "assert" keyword are not considered reserved Java keywords"
#### Describe the bug
By inspecting the `Constants.ts` file from Java Generator we can see, that we have `'switch  assert',` as an entry in the keywords array. While we should have `'switch', 'assert'` as separate entries.

#### How to Reproduce
To reproduce the issue we should have a schema that looks like this:
[code]
Once this schema is run through Java generator we get back a class declaration

[2022-07-03 16:32] #784 closed

[2022-07-03 20:31] #786 closed

[2022-07-04 11:22] kennethaasan commented on #367
At Sportradar we're trying to adopt AsyncAPI with Modelina, and we are facing this issue. Is this being worked on in the next branch? If not, I can try to solve it for TypeScript and possibly Java at least.

[2022-07-04 11:24] jonaslagoni commented on #367
It is yes 🙂

[2022-07-04 12:02] kennethaasan commented on #367
Awesome! I'll share our use case in case you need a spec to test with. I would expect a data model for _Message_, _Goal_, _YellowCard_, and hopefully _Event_ using inheritance.

[code]

[2022-07-04 12:33] f-lutz-sportradar commented on #391
I'm not sure whether there is any other discussion about this subject, but one possible way I can think about solving the union (allOf) in jsava would be: In case of an allOf having multiple $ref, for each $ref, create an Interface having the setters / getters for all the properties on the particular reference and add all the properties in the class. This way, it's possible to reuse the same inter

[2022-07-05 11:51] jonaslagoni commented on #608
Sorry, @ritik307 I must have missed your ping 🙃 Let me know if you are still interested.

[2022-07-05 11:55] jonaslagoni commented on #637
As this issue was not chosen as part of the AsyncAPI mentoring program, everyone is welcome to work on this, and if you want mentoring in any way just ping me 🙂

@iipranavii do you still want to work on this?

[2022-07-05 11:55] jonaslagoni commented on #636
As this issue was not chosen as part of the AsyncAPI mentoring program, everyone is welcome to work on this, and if you want mentoring in any way just ping me 🙂

[2022-07-05 16:45] ron-debajyoti commented on #636
I'll try to work on this project on weekends but it's gonna take a while again. Apologize for the delay.

[2022-07-05 18:05] iipranavii commented on #637
Hey @jonaslagoni, I am really for the sabbatical, I was going through some personal stuff lately, just came back last week, will resume work on modelina soon!
(always interested in design :D)

[2022-07-10 11:27] jacopomaroli commented on #367
I think the problem is here https://github.com/asyncapi/modelina/blob/7a2394956f8f82670e10859efd6b1c67c4487033/src/interpreter/Interpreter.ts#L85-L86

It shouldn't interpret and combine the schemas for oneOf but should just reference the underlying schemas https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/#anyof-vs-oneof

[2022-07-14 17:42] micro-jumbo opened #894 "Java generator always adds @Json annotations for enums"
### Describe the bug
Java generator always adds @Json annotations for enums

### To Reproduce
For document:
[code]

and generator:
[code]

generated `SuccessMessageMessage` `enum` contains Jackson annotations (`@JsonValue` and `@JsonCreator`), but it shouldn't:
[code]

These should be generated only when Jackson annotations are enabled.

[2022-07-14 18:31] jonaslagoni opened #812 "Java generator always adds @Json annotations for enums"
@micro-jumbo commented on [Thu Jul 14 2022](https://github.com/asyncapi/spec/issues/822)

### Describe the bug
Java generator always adds @Json annotations for enums

### To Reproduce
For document:
[code]

and generator:
[code]

generated `SuccessMessageMessage` `enum` contains Jackson annotations (`@JsonValue` and `@JsonCreator`), but it shouldn't:
[code]

These should be generated only when Jack

[2022-07-15 12:44] jacopomaroli commented on #367
hey folks, I made some changes to address this. I'll open a PR later today/tomorrow after running the tests. feel free to reference the feature branch and let me know if this works for you
https://github.com/asyncapi/modelina/compare/master...jacopomaroli:modelina:fix_oneOf_impl?expand=1

[2022-07-20 10:19] #812 closed

[2022-07-27 22:01] jonaslagoni opened #819 "Does not generate correct union for anyOf"
#### Describe the bug
Related to `next` branch.

Following input:

[code]
#### Expected behavior
Generates a model where only an object is possible, and not string.

This problem occurs as part of draft-4 `chrome-manifest.json` blackbox test.

[2022-07-27 22:05] jonaslagoni opened #820 "Does not generate accurate id's for JSON Schema inputs with definitions"
#### Describe the bug
Related to `next` branch.
Given this schema:
[code]

Two models will be created, `BrowserAction` and `PageAction` even though they should reference the same model which is whatever the model name is for ` "$ref": "#/definitions/action",`

This problem occurs as part of draft-4 `chrome-manifest.json` blackbox test.

[2022-07-27 22:12] jonaslagoni opened #821 "CSharp generate incorrect array type for JSON Schema"
#### Describe the bug
This is part of `next` branch.

Given the following JSON Schema:
[code]

where `#/definitions/scripts` are

[code]

and `#/definitions/uri` are:

[code]

It creates a model with a property defined as `dynamic[] scripts` even though it should be perfectly fine to do `string[] scripts`.

This problem occurs as part of draft-4 `chrome-manifest.json` blackbox test.

[2022-07-27 23:11] jonaslagoni opened #822 "Blackbox tests running out of memory"
#### Describe the bug
Related to `next` branch.

We have one JSON Schema draft 4 test document called `aws-cloudformation.json`, which contains +101k lines of schemas. The testing code that runs the blackbox tests, simply cannot handle such large quantities of files at the same time 😅

[2022-07-27 23:35] jonaslagoni opened #823 "JSON Schema generates incorrect number of models"
#### Describe the bug
[code]

[2022-07-28 01:48] jonaslagoni opened #825 "Duplicate dependencies are being rendered"
#### Describe the bug
Related to `next` branch.

If a model has duplicate dependencies i.e. two properties that both reference another model. Two dependencies will be rendered which is unintended.

Think something like this should work:

[code]

[2022-07-28 22:13] jonaslagoni commented on #456
Already fixed in `next` as part of the constraint logic.

[2022-07-28 22:13] #456 closed

[2022-07-28 22:14] jonaslagoni commented on #388
Already solved with the new constraint function in the `next` branch.

[2022-07-28 22:14] #388 closed

[2022-07-28 22:15] jonaslagoni commented on #640
Solved in the `next` branch.

[2022-07-28 22:15] #640 closed

[2022-07-28 22:17] jonaslagoni commented on #615
Solved in the `next` branch where you can create `DictionaryModel`.

[2022-07-28 22:17] #615 closed

[2022-07-28 22:18] jonaslagoni commented on #546
Solved in the `next` branch, see https://github.com/asyncapi/modelina/blob/next/examples/change-type-mapping/index.ts

[2022-07-28 22:18] #546 closed

[2022-07-28 22:19] jonaslagoni commented on #504
This should already be solved in the `next` branch.

[2022-07-28 22:19] #504 closed

[2022-07-28 22:20] jonaslagoni commented on #415
Solved in the `next` branch, see https://github.com/asyncapi/modelina/blob/next/examples/overwrite-naming-formatting/index.ts

[2022-07-28 22:20] #415 closed

[2022-07-28 22:21] jonaslagoni commented on #243
Solved in the `next` branch.

[2022-07-28 22:21] #243 closed

[2022-07-28 22:24] jonaslagoni commented on #365
Solved in the `next` branch.

[2022-07-28 22:24] #365 closed

[2022-07-28 22:27] jonaslagoni commented on #646
We definitely need this 😄

[2022-07-28 22:29] jonaslagoni commented on #605
Solved in https://github.com/asyncapi/website/pull/775

[2022-07-28 22:29] #605 closed

[2022-07-28 22:30] jonaslagoni commented on #599
Already solved, see https://github.com/asyncapi/modelina/blob/next/docs/usage.md#generate-dart-models

[2022-07-28 22:30] #599 closed

[2022-07-28 22:34] jonaslagoni commented on #191
Gonna close this as I dont think it will be changed. Feel free to reopen you or anyone else want to do it.

[2022-07-28 22:34] #191 closed

[2022-07-28 22:38] jonaslagoni commented on #181
As there are no specifics or suggestions on how to add something like plugins for input processors I am gonna close this one down. We have a specific example of creating custom MetaModels from any input you choose. So that can be done as a solution for this one https://github.com/asyncapi/modelina/blob/next/examples/meta-model/index.ts

[2022-07-28 22:39] jonaslagoni commented on #172
Gonna close this one down as it has now been integrated into the AsyncAPI CLI. If that is not enough and we need a small custom CLI for this library alone, then please create another issue 🙂

[2022-07-28 22:39] #172 closed

[2022-07-29 00:34] akshatnema commented on #646
@jonaslagoni Look over to this comment https://github.com/asyncapi/modelina/issues/646#issuecomment-1046275156.

Instead of having husky pre-commit, we can have a GitHub action to run a particular script whenever there is a commit or push to PR or master branch. I think this can be a good approach instead of using husky. What's your view on this?

[2022-07-29 09:33] jonaslagoni commented on #646
I think husky might be the right choice.

Problem with using GH Action is that it does not happen directly and you need to wait for the action to commit the formatting changes, which I dont think is the best user experience 😅 Is there something about huske you think would make it a bad fit here?

[2022-07-29 09:41] akshatnema commented on #646
I made the same issue on the website also to fix the lint issues and code formatting using husky. But eventually, it got closed because many community members aren't in the favor of using husky recommit. You can read the discussion on the issue https://github.com/asyncapi/website/issues/598. That's why I suggested having a Github action.

[2022-07-29 10:03] jonaslagoni commented on #646
Thanks for the link @akshatnema, that's definitely some good perspectives 🤔

Okay so for the bare minimum we need to add prettier, that is step 1, and is needed regardless 😄 So adding that ensures that whenever PRs are merged, they are always correctly formatted no matter how a PR change looks like. So lets focus on that first 🙂

Want to champion this @akshatnema ?

[2022-07-29 10:34] akshatnema commented on #646
So you want that on every push insider a PR, you want a prettier script run before merging the PR, right?

Fine, I can add this. First, let's ask the community members (available right now) what are their reviews on how the script should be run in the repo.

[2022-07-29 10:47] jonaslagoni commented on #646
No.

Initially, we just add a prettier configuration and then tie it together with the linter as you linked https://khalilstemmler.com/blogs/tooling/prettier/#Configuring-Prettier-to-work-with-ESLint

This means that PRs will fail in the linting run if there are any prettier warnings. Which the developer would then have to manually fix by running `npm run format`. It's the least invasive approach

[2022-07-29 22:03] jonaslagoni commented on #821
This is because by default `additionalItems` are allowed, and therefore the type cannot be determined.

[2022-07-29 22:03] #821 closed

[2022-07-30 10:11] marcinbos92 opened #830 "PHP code generation support"
Hello,
I'm doing a short investigation about AsyncApi and PHP language support. In my current company I would like to introduce AsyncApi idea for developing and documenting async communication. Is it any way to generacje PHP classes, enums etc. from asyncApi json or yaml file? Or do you have any information about current work on it? If no, could I get some more information how to jump into the mod

[2022-07-31 09:56] jonaslagoni commented on #830
Hey @marcinbos92, until some official documentation is made, I suggest you take a look at this PR as it has all the right components to add a new generator: https://github.com/asyncapi/modelina/pull/818

Also make sure you target the `next` branch 🙂

Let me know if you have any questions 👍

[2022-08-04 23:23] jonaslagoni opened #840 "JSON Schema anyOf generate incorrect meta models"
The following JSON Schema does not generate accurate type and models.
[code]

[2022-08-04 23:27] jonaslagoni commented on #840
might be related to https://github.com/asyncapi/modelina/issues/819

[2022-08-04 23:30] jonaslagoni opened #841 "Constrained meta model does not look for reference within meta models"
#### Describe the bug
Given a constrained object model with a property that is of type constrained union, it does not look for references within the union type. Even though it should as union models are not split out.

[2022-08-06 22:25] #509 closed

[2022-08-07 17:07] leigh-johnson opened #847 "RustGenerator Blackbox tests failing"
#### Describe the bug
Couple of RestGenerator blackbox tests are failing in the `next` mainline branch.

#### How to Reproduce
`npm run test:blackbox`

#### Expected behavior
Tests pass :stuck_out_tongue_closed_eyes:

----

- [ ] `Error: Error: Command failed: cargo build /home/runner/work/modelina/modelina/test/blackbox/output/JsonSchemaDraft-4/traefik-v2/rust/struct`
[link](https://github.com/as

[2022-08-09 10:45] jonaslagoni commented on #830
I have added an initial set of template for new generators and added documentation how to create new generators. Checkout https://github.com/asyncapi/modelina/pull/850

[2022-08-09 12:49] gabormagyar commented on #546
@jonaslagoni

I don't see the renderer param in the `TypeMappingFunction` interface. I would like to add dependencies as you showed above:

[code]

Is this still planned?

[2022-08-10 10:19] jonaslagoni commented on #546
Damn... I removed it last minute from the PR because I could not recall why it was needed, as all I saw in the current generators was the access to options. So the extra functionality for them to access the renderer would be in vain. Forgot about this one!

Should definitely be fixed, adding another issue.